*~
sync.data
old
config.cgi
website/media/**/*.jpg
website/media/**/*.png
website/media/**/*.gif
website/media/**/*.jpeg
website/media/**/*.pdf
website/media/**/*.bmp
website/media/**/*.svg



recordings/*.mp3
