Content-type:text/html; charset=UTF-8;
Access-Control-Allow-Origin: *

<!DOCTYPE html>
<html>
<head>
	<title>Neueste Kommentare zu Sendungen - <TMPL_VAR project_title></title>
	<meta http-equiv="Content-Script-Type" content="javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
</head>
<body>
<TMPL_LOOP comments>
	<a href="<TMPL_VAR widget_render_url>/<TMPL_VAR .controllers.event>/<TMPL_VAR event_id>.html#comments">
	<div class="comments level<TMPL_VAR level>">
		<span class="author"><TMPL_VAR author escape=none></span>:
		<span class="content"><TMPL_VAR short_content escape=none></span>
	</a>
    </div>
</TMPL_LOOP>
</body>
