Content-type:text/html; charset=UTF-8;
Access-Control-Allow-Origin: *

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Content-Script-Type" content="javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Playlist <TMPL_VAR project_title></title>
    <style type="text/css">
        .vevent a    {font-size:0.8em;line-height:120%;text-decoration:none;color:#444;Verdana,sans-serif};
        .vevent .event    {font-size:0.8em;line-height:120%;text-decoration:none;color:#444;Verdana,sans-serif};
        .vevent a:hover    {text-decoration:underline;}
    </style>
</head>
<body>

<TMPL_LOOP NAME=events>
    <div id="event_<TMPL_VAR event_id>" class="event">
        <div class="event" >
            <TMPL_VAR weekday_short_name> <TMPL_VAR start_time_name>
            <span class="title" title="<TMPL_VAR full_title escape=url>, <TMPL_VAR excerpt escape=url>">
                <a    target="top"
                                href="<TMPL_VAR base_url><TMPL_VAR .controllers.event>/<TMPL_VAR event_id>/<TMPL_VAR event_uri escape=url>"
                >
                    <TMPL_IF series_name><TMPL_VAR series_name><TMPL_ELSE><TMPL_VAR title></TMPL_IF>
                </a>
            </span>
        </div>
    </div>
</TMPL_LOOP>
</body>
</html>

