Content-type:text/html; charset=utf-8;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="expires" content="3600">
    <meta http-equiv="Cache-control" content="public">    
    <meta http-equiv="Content-Script-Type" content="javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Agenda <TMPL_VAR project_title></title>
<body>

<TMPL_INCLUDE no_search_result.html>
<TMPL_INCLUDE no_result.html>

<div class="events-base" data-first-date="<TMPL_VAR first_date>" data-last-date="<TMPL_VAR last_date>">
<TMPL_LOOP NAME=events>
<TMPL_IF event_id>
    <TMPL_IF name="is_first_of_day">
        <div class="date">
            <TMPL_VAR weekday_short_name>, <TMPL_VAR start_date_name><TMPL_IF project_title> - <TMPL_VAR project_title></TMPL_IF>
        </div>
    </TMPL_IF>
    <div id="event_<TMPL_VAR event_id>" class="event<TMPL_IF location_css> <TMPL_VAR location_css></TMPL_IF><TMPL_IF is_running> running</TMPL_IF>"
    onclick="window.location.href='<TMPL_VAR cache_base_url>/<TMPL_VAR .controllers.event>/<TMPL_VAR event_id>.html#<TMPL_VAR event_uri escape=url>'"
    >
        <span class="time"><TMPL_VAR start_time_name><TMPL_IF name="__last__"> - <TMPL_VAR end_time_name></TMPL_IF></span>
        <span class="summary" title="Mehr Infos zur Sendung">
            <a href="<TMPL_VAR cache_base_url>/<TMPL_VAR .controllers.event>/<TMPL_VAR event_id>.html#<TMPL_VAR event_uri escape=url>">
                <span class="title"><TMPL_VAR skey></span>
                <span class="subtitle"><TMPL_VAR stkey><TMPL_VAR tkey></span>
                <span class="episode"><TMPL_VAR ekey></span>
            </a>
            <div class="excerpt"><TMPL_VAR excerpt> <TMPL_VAR user_excerpt> </div>
            <TMPL_UNLESS no_comment>
            <a href="<TMPL_VAR cache_base_url>/<TMPL_VAR .controllers.event>/<TMPL_VAR event_id>.html#<TMPL_VAR event_uri>#comments"
            >
                <span class="submitted<TMPL_IF comment_count> comments</TMPL_IF>"><TMPL_VAR comment_count> Kommentar<TMPL_UNLESS one_comment>e</TMPL_UNLESS></span>
            </a>
            </TMPL_UNLESS>
        </span>
        <span class="location"><TMPL_VAR location_mapped></span>
        <span class="icon">
            <TMPL_IF .hide_event_images>
                <TMPL_IF series_thumb_url>
                    <img src="<TMPL_VAR series_thumb_url>" title="<TMPL_VAR series_image_label>" onerror="if(!this.src.match(/not-found/))this.src='<TMPL_VAR icon_url>/../not-found.svg'">
                </TMPL_IF>
            <TMPL_ELSE>
                <TMPL_IF icon_url>
                    <img src="<TMPL_VAR thumb_url>" title="<TMPL_VAR image_label>" onerror="if(!this.src.match(/not-found/))this.src='<TMPL_VAR icon_url>/../not-found.svg'">
                </TMPL_IF>
            </TMPL_IF>
        </span>
    </div>
</TMPL_IF>
</TMPL_LOOP>
</div>
</body>
</html>

