Content-type:text/html; charset=utf-8;
Access-Control-Allow-Origin: *

<!DOCTYPE html>
<html>
<body>
	<TMPL_IF no_result>
	<div id="is_empty">
			<TMPL_IF search>
				<TMLP_VAR count> Treffer:
			</TMPL_IF>
	</div>
	</TMPL_IF>

<TMPL_LOOP events>
<div class="event-base" data-prev-event="<TMPL_VAR prev_event_id>" data-next-event="<TMPL_VAR next_event_id>">
	<div class="vevent">
		<span class="dtstart"><TMPL_VAR start></span>
		<TMPL_IF NAME=end><span class="dtend"><TMPL_VAR end></span></TMPL_IF>
	    <span class="location"><TMPL_VAR location_mapped></span>
	
		<div class="date<TMPL_IF is_running> running</TMPL_IF>">
			<TMPL_IF is_running> ... Diese Sendung l&auml;uft gerade ...<p></TMPL_IF>
			
			<h1 class="summary title">
			    <TMPL_IF series_name>
				<a href="#" onclick="calcms.showPrevSeriesEvent(<TMPL_VAR event_id>)" title="vorherige Sendung">&laquo;</a><TMPL_VAR series_name><a href="#" onclick="calcms.showNextSeriesEvent(<TMPL_VAR event_id>)" title="n&auml;chste Sendung">&raquo;</a>
				</TMPL_IF>
			    <TMPL_VAR full_title_no_series>

			    <div style="font-size:1rem">
			    <TMPL_VAR weekday_name>, <TMPL_VAR start_date_name>,
			    <span style="font-size:1.5rem"><TMPL_VAR start_time_name></span> bis <TMPL_VAR end_time_name> Uhr
			    </div>

			</h1>

			<TMPL_IF program> (<TMPL_VAR program>)</TMPL_IF>
		</div>
		<div class="content description" >
			<TMPL_VAR excerpt > <TMPL_VAR user_excerpt >
            <TMPL_IF excerpt><hr><TMPL_ELSE><TMPL_IF user_excerpt><hr></TMPL_IF></TMPL_IF>

            <TMPL_IF no_image_in_text>
                <TMPL_IF .hide_event_images>
                    <figure>
                        <TMPL_IF series_thumb_url>
                            <img alt="<TMPL_VAR series_name>" src="<TMPL_VAR series_image_url>">
                            <TMPL_IF series_image_label><figcaption>Bild: <TMPL_VAR series_image_label></figcaption></TMPL_IF>
                        </TMPL_IF>
                    </figure>
                <TMPL_ELSE>
                    <figure>
                        <TMPL_IF thumb_url>
                            <img alt="<TMPL_VAR series_name>" src="<TMPL_VAR image_url>">
                            <TMPL_IF image_label><figcaption>Bild: <TMPL_VAR image_label></figcaption></TMPL_IF>
                        </TMPL_IF>
                    </figure>
                </TMPL_IF>
            </TMPL_IF>

			<TMPL_VAR topic escape=none><TMPL_VAR content escape=none>
            <TMPL_IF listen_url><audio
                controls
                src="<TMPL_VAR listen_url>"
                title="Sendung nachh&ouml;ren"
                ></audio></TMPL_IF>
			<TMPL_IF recurrence_date><a href="<TMPL_VAR recurrence>.html">
                Wiederholung vom <TMPL_VAR recurrence_weekday_name>, <TMPL_VAR recurrence_date_name>, <TMPL_VAR recurrence_time_name> Uhr</a>
            </TMPL_IF>
		</div>
		
	</div>

	<hr>
	<TMPL_VAR project_title> - <TMPL_VAR location_mapped>

	<div id="calcms_comments">
		<script>
			jQuery(document).ready(
				function() {
					calcms.showCommentsByEventIdOrEventStart('<TMPL_VAR event_id escape=js>','<TMPL_VAR start_datetime escape=js>');
				}
			);
		</script>
	</div>
</div>
</TMPL_LOOP>
</body>
</html>
