Content-type:text/html; charset=UTF-8;
Access-Control-Allow-Origin: *

<!DOCTYPE html>
<html>
<body>
<TMPL_IF projects>

<form id="calcmsSeriesNamesForm" name="calcms_series_name">

<TMPL_LOOP projects>
<TMPL_UNLESS isEmpty>
<select
    id="calcms_series_name_<TMPL_VAR js_name escape=none>"
    name="series_name_<TMPL_VAR js_name escape=none>"
    title="Sendereihen durchsuchen"
    onchange="calcms.selectSeries('<TMPL_VAR name escape=js>', jQuery(this).val())"
    style="display:none;"
>

<option value="">- Sendereihe -</option>
<TMPL_LOOP series_names><option value="<TMPL_VAR series_name escape=none>"<TMPL_VAR selected escape=none>><TMPL_VAR series_name> (<TMPL_VAR sum>)</option>
</TMPL_LOOP>

</select>
</TMPL_UNLESS>
</TMPL_LOOP>

</form>

</TMPL_IF>
</body>
</html>
