Content-type:text/html; charset=UTF-8;
Access-Control-Allow-Origin: *

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/agenda/js/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/agenda/css/calcms.css">

    <style>
        .series{
            clear:both;
        }
        .info{
            padding:1rem;
            background:#cc0;
        }

        button{
            font-size:0.8rem;
        }

        .buttons{
            float:right;
        }

    </style>
</head>

<body>

<div>
<h1>aktuelle Sendereihen</h1>
<TMPL_IF info><div class="info"><TMPL_VAR info></div></TMPL_IF>

<div id="content">
<TMPL_LOOP series>
	<div class="series"
        href="#"
    >
		<b><TMPL_IF has_single_events><TMPL_VAR .loc.single_events><TMPL_ELSE><TMPL_VAR series_name></TMPL_IF></b>
        <TMPL_IF TITLE> - <TMPL_VAR title></TMPL_IF>
        <div class="buttons">
            <button onclick="$(this).parent().parent().find('#calcms_list').load('/agenda/suche/all/<TMPL_VAR series_name escape=url>/vergangene/').show();return false;" >&#x2BC7; vergangene</button>
            <button onclick="$(this).parent().parent().find('#calcms_list').load('/agenda/suche/all/<TMPL_VAR series_name  escape=url>/kommende/').show();  return false;" >&#x2BC8; kommende</button>
            <button onclick="$(this).parent().parent().find('#calcms_list').hide();">X</button>
        </div>
        <div id="calcms_list" style="display:none"> </div>

	</div>
</TMPL_LOOP>
</div>

</body>
</html>
