<TMPL_IF .allow.scan_series_events>

<link href="css/theme.default.css" rel="stylesheet">
<link href="css/assignments.css" rel="stylesheet">
<script src="js/image.js" type="text/javascript " defer></script>

<main id="content"
    data-js-init="calcms.init_assignments"
    title="<TMPL_VAR .loc.title>"
>

found <TMPL_VAR sum_events> unassigned events for project <b><TMPL_VAR project_name></b> and studio <b><TMPL_VAR studio_name></b>

<!-- view series -->
<div     id="view_<TMPL_VAR .series_id>" 
    class="view" style="clear:both"
>
    <div class="sidebar">
        <button target="_blank"
            onclick="select_all()"
            style="float:left"
        >select all</button>

        <button target="_blank"
            onclick="clear_selection()"
            style="float:left"
        >clear</button>

        <div style="float:left">Series</div>
        <select style="float:left;max-width:600px;" id="series_id">
            <option value="">--select--</option>
            <TMPL_LOOP series>
                <option value="<TMPL_VAR series_id>"><b><TMPL_VAR series_name> - <TMPL_VAR title></b> [<TMPL_VAR project_name> - <TMPL_VAR studio_name>]
            </TMPL_LOOP>
        </select>
        <form action="assignments.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>" method="post" id="assignments_form">
            <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
            <input type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
            <input type="hidden" name="series_id" value="<TMPL_VAR .series_id>">
            <input type="hidden" name="event_ids" value="<TMPL_VAR .event_id>">
            <input type="hidden" name="action" value="assign_events">
            <button target="_blank"
                onclick="assign_series_events('<TMPL_VAR .project_id escape=js>', '<TMPL_VAR .studio_id escape=js>', $('#series_id').val());return false;"
                style="float:left"
            >assign</button>
        </form>
    </div>
</div>

<div id="tabs" style="clear:both">

    <!-- schedule -->
    <div id="tabs-assignments">

        <!-- show schedule -->
        <div id="show_schedule_<TMPL_VAR series_id>" class="show_schedule">
            <table id="assignment_table">
                <thead>
                    <tr>
                        <th>assign</th>
                        <!--<th>id</th>-->
                        <th>program</th>
                        <th>project</th>
                        <th>location</th>
                        <th>weekday</th>
                        <th>start</th>
                        <th>series_name</th>
                        <th>title</th>
                        <th>episode</th>
                        <th>rerun</th>
                        <th>preview</th>
                    </tr>
                </thead>
                <tbody>
            <TMPL_LOOP unassigned_events>
                    <tr>
                        <td><input class="event_id" type="checkbox" value="<TMPL_VAR id>" title="<TMPL_VAR id>"></td>
                        <!--<td><TMPL_VAR id></td>-->
                        <td><TMPL_VAR program></td>
                        <td><TMPL_VAR project></td>
                        <td><TMPL_VAR location></td>
                        <td><TMPL_VAR weekday></td>
                        <td><TMPL_VAR start></td>
                        <td><TMPL_VAR series_name></td>
                        <td><TMPL_VAR title></td>
                        <td><TMPL_VAR episode></td>
                        <td><TMPL_VAR rerun></td>
                        <td><a href="/programm/sendung/<TMPL_VAR id>.html" target="_blank"> <button >preview</button></a>
                    </tr>
            </TMPL_LOOP>
                </tbody>
            </table>
        </div>
    </div>

</main>
</body>
</html>

</TMPL_IF>
