<TMPL_IF .allow.scan_series_events>

<script src="js/assign-series.js" type="text/javascript" defer></script>
<link href="css/assign-series.css" type="text/css" rel="stylesheet"/>

<main id="content"
    data-js-init="calcms.init_assign_series"
    title="<TMPL_VAR .loc.title>"
>

assign and unassign series to project <b><TMPL_VAR project_name></b> and studio <b><TMPL_VAR studio_name></b>

<!-- view series -->
<div id="view_<TMPL_VAR .series_id>" class="view" style="clear:both">
    <div class="sidebar">

        <div style="float:left">Series</div>
        <select style="float:left;max-width:600px;" id="series_id">
            <option value="">--select--</option>
            <TMPL_LOOP series>
                <option value="<TMPL_VAR series_id>"><b><TMPL_VAR series_name> - <TMPL_VAR title></b> [<TMPL_VAR project_name> - <TMPL_VAR studio_name> - <TMPL_VAR series_id>]
            </TMPL_LOOP>
        </select>

        <form action="assign-series.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>" method="post" id="assignments_form">
            <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
            <input type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
            <input type="hidden" name="series_id" value="<TMPL_VAR .series_id>">
            <button target="_blank"
                onclick="assign_series('<TMPL_VAR .project_id escape=js>', '<TMPL_VAR .studio_id escape=js>', $('#series_id').val());return false;"
                style="float:left"
            >assign</button>
            <button target="_blank"
                onclick="unassign_series('<TMPL_VAR .project_id escape=js>', '<TMPL_VAR .studio_id escape=js>', $('#series_id').val());return false;"
                style="float:left"
            >unassign</button>
        </form>
    </div>
</div>

</main>
</body>
</html>

</TMPL_IF>
