<TMPL_IF .allow.read_comment>
<link type="text/css" href="css/comment.css" rel="stylesheet"/>
<script src="js/comment.js" type="text/javascript" defer></script>
<script defer>
var event_id='<TMPL_VAR event_id escape=js>';
var selectImageId='';
<TMPL_IF .event_edited>
document.addEventListener("DOMContentLoaded", function(){
    if ($('div.error').length>0) return;
    if(comeFromCalendar()) getBack();
});
</TMPL_IF>
</script>

<div id="comments"
    data-js-init="calcms.init_comments"
    title="<TMPL_VAR .loc.title>"
>
    <select id="selectCommentsByAge" onchange="showCommentsByAge($(this).val())">
        <option value="">w&auml;hlen</option>
        <option value="1">Stunde </option>
        <option value="6">6 Stunden</option>
        <option value="24">24 Stunden</option>
        <option value="168">Woche</option>
        <option value="720">Monat</option>
        <option value="2160">3 Monate</option>
        <option value="4360">6 Monate</option>
        <option value="999999999">alle</option>
    </select>

    <div style="text-align:right">
        <form action="comment.cgi">
            <input name="search" value="<TMPL_VAR search escape=0>" class="field"/>
            <input type="submit" value="suchen" class="button"/>
        </form>
    </div>

    <div id="print_header">
        <TMPL_IF comment_count><TMPL_VAR comment_count> <TMPL_VAR .loc.label_comments> in</TMPL_IF>
        <TMPL_IF event_count><TMPL_VAR event_count> <TMPL_VAR .loc.label_events></TMPL_IF>
    </div>
    <TMPL_IF is_empty><TMPL_VAR .loc.label_no_comments_found>
    <TMPL_ELSE>
        <TMPL_LOOP events>
            <div>
                <table class="event_comments"><tbody><tr>
                    <td class="event_show_comments" >
                        <a href="#event_<TMPL_VAR id>_comments" onclick="showEventComments('<TMPL_VAR id escape=js>');return false;" title="zeige Kommentare">
                            <TMPL_VAR comment_count> <TMPL_VAR .loc.label_comments>
                        </a>
                    </td>
                    <td class="event_title">
                        <a href="<TMPL_VAR widget_render_url>/<TMPL_VAR .controllers.event escape=url>/<TMPL_VAR id>.html#comments" title="zeige Sendung">
                            <TMPL_VAR series_name> - <TMPL_VAR title>
                        </a>
                    </td>
                    <td class="event_start">
                        <TMPL_VAR start>
                    </td>
                </tr></tbody></table>
            </div>
            <div class="event_excerpt"><TMPL_VAR excerpt></div>
            <div class="event" id="event_<TMPL_VAR id>_comments" style="line-height:100%;display:none;"> </div>
        </TMPL_LOOP>
    </TMPL_IF>
</div>

<TMPL_ELSE>
missing permission to read comment
</TMPL_IF>
