<TMPL_IF .allow.read_event> <script type="text/javascript">
    <TMPL_IF .getBack>
    $(document).ready(function() {
        getBack()
    });
    </TMPL_IF>
</script>

<h1>create events from schedule</h1>
<div class="panel">
<form id="create_event_form" method="post">
    <input type="hidden" name="project_id"
        value="<TMPL_VAR .project_id>"> <input type="hidden"
        name="studio_id" value="<TMPL_VAR .studio_id>"> duration
    <select name="duration">
        <option value="7">1 week</option>
        <option value="14">2 weeks</option>
        <option value="21">3 weeks</option>
        <option value="28">4 weeks</option>
        <option value="56">8 weeks</option>
    </select>

    <TMPL_IF .allow.read_event>
    <button target="_blank" type='submit' name="action" value="show">show</button>
    </TMPL_IF>
    <TMPL_IF .allow.assign_series_events>
    <button target="_blank" type='submit' name="action"
        value="create_events">create</button>
    </TMPL_IF>
</form>
</div>
<div class="panel view" style="clear: both">
    <TMPL_VAR action> <TMPL_VAR created_total>
    events from <TMPL_VAR from_date> till <TMPL_VAR till_date>
    <br>

    <TMPL_LOOP events> <TMPL_var start> <TMPL_var
        full_title> <br></TMPL_LOOP> </view>

</div>
    </body>
    </html>

    <TMPL_ELSE> missing permission to read events 
</TMPL_IF>
