<TMPL_IF .allow.read_event>
<script type="text/javascript">
<TMPL_IF .getBack>
$(document).ready(function() {
    getBack()
});
</TMPL_IF>
</script>

<script src="js/create-events.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/create-events.css" type="text/css" />

<script>
var series_id=0;
</script>
<h1><TMPL_VAR loc.title></h1>
<div class="panel">
<form id="create_event_form" method="post">
    <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
    <input type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
    <input type="hidden" id="select_series_id" name="series_id" value="<TMPL_VAR .series_id>">

    <table><tr>
    <td class="label"><TMPL_VAR loc.create_till></td>
    <td>
    <select name="duration">
        <option value="1" <TMPL_VAR duration1>><TMPL_VAR loc.today></option>
        <option value="7" <TMPL_VAR duration7>><TMPL_VAR loc.1week></option>
        <option value="14" <TMPL_VAR duration14>><TMPL_VAR loc.2week></option>
        <option value="21" <TMPL_VAR duration21>><TMPL_VAR loc.3week></option>
        <option value="28" <TMPL_VAR duration28>><TMPL_VAR loc.4week></option>
        <option value="56" <TMPL_VAR duration56>><TMPL_VAR loc.8week></option>
    </select>

    <div id="seriesContainer"></div>

    <TMPL_IF .allow.read_event>
    <button target="_blank" type='submit' name="action" value="show_events"><TMPL_VAR loc.show_button></button>
    </TMPL_IF>
    <TMPL_IF .allow.assign_series_events>
    <button target="_blank" type='submit' name="action" value="create_events"><TMPL_VAR loc.create_button></button>
    </TMPL_IF>
</form>
</div>
<div class="panel view" style="clear: both">
    <TMPL_VAR action> <TMPL_VAR total>
    events from <TMPL_VAR from_date> till <TMPL_VAR till_date>:
    <br><br>

    <table>
    <TMPL_LOOP events>
        <tr>
        <td><TMPL_var start></td>
        <td><TMPL_var series_name></td>
        <td><TMPL_var series_title></td>
        </tr>
    </TMPL_LOOP> </view>

</div>
</body>
</html>

<TMPL_ELSE>
missing permission to read events
</TMPL_IF>
