<TMPL_INCLUDE header.html>

<nav id="calcms_admin_menu">

<div id="bars" class="mobile" onclick="handleBars();return false;"> <a><i class="fas fa-bars"></i> Menu</a></div>

<div><a href="/" ><i class="fas fa-rocket"></i>&nbsp;<TMPL_VAR .loc.preview></a></div>

<TMPL_IF .allow.read_event>
<div><a id="menu_calendar" href="calendar.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR studio_id>"><i class="fas fa-calendar-alt"></i>&nbsp;<TMPL_VAR .loc.calendar></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_series>
<div><a href="series.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-list-alt"></i>&nbsp;<TMPL_VAR .loc.series></a></div>
</TMPL_IF>

<!-- start menu -->
<div class="dropdown">
<a href="#"><i class="fas fa-plus"></i>&nbsp;mehr...&nbsp;</a>
<div class="dropdown-content">

<TMPL_IF .allow.read_playout>
<div><a href="show-playout.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-play"></i>&nbsp;<TMPL_VAR .loc.playout></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_user>
<div><a href="users.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-users"></i>&nbsp;<TMPL_VAR .loc.users></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_role>
<div><a href="roles.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-tasks"></i>&nbsp;<TMPL_VAR .loc.roles></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_studio_timeslot_schedule>
<div><a href="studio_timeslots.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-clock"></i>&nbsp;<TMPL_VAR .loc.timeslots></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_studio>
<div><a href="studios.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-project-diagram"></i>&nbsp;<TMPL_VAR .loc.studios></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_project>
<div><a href="projects.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-broadcast-tower"></i>&nbsp;<TMPL_VAR .loc.projects></a></div>
</TMPL_IF>

<TMPL_IF .allow.read_schedule>
<div><a href="work_time.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-clock"></i>&nbsp;<TMPL_VAR .loc.schedule></a></div>
</TMPL_IF>

<TMPL_IF .allow.update_image_others>
<div><a href="image.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>&search=<TMPL_VAR .presets.user>"><i class="fas fa-images"></i>&nbsp;<TMPL_VAR .loc.images></a></div>
</TMPL_IF>

<div title="<TMPL_VAR .loc.profile>"><a href="user_settings.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-cog"></i>&nbsp;<TMPL_VAR .loc.profile></a></div>

<div title="<TMPL_VAR .loc.help>"><a href="help.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR default_studio_id>"><i class="fas fa-info"></i>&nbsp;<TMPL_VAR .loc.help></a></div>

<!--end menu -->
</div>
</div>

<div class="mobile">
<i class="fas fa-home"></i>
<select id="studio_id" name="studio_id" onchange="set_studio($(this).val())">
<TMPL_LOOP .presets.studios>
<option value="<TMPL_VAR id>" <TMPL_IF selected> selected="selected"</TMPL_IF> ><TMPL_VAR name></option>
</TMPL_LOOP>
</select>
<i class="fas fa-caret-down"></i>
</div>

<div class="mobile">
<i class="fas fa-broadcast-tower"></i>
<select id="project_id" name="project_id" onchange="set_project($(this).val())">
<TMPL_LOOP .presets.projects>
<option value="<TMPL_VAR project_id>" <TMPL_IF selected> selected="selected"</TMPL_IF> ><TMPL_VAR name></option>
</TMPL_LOOP>
</select>
<i class="fas fa-caret-down"></i>
</div>

<div class="mobile"><a id="logout" href="<TMPL_VAR .presets.logout_url>?authAction=logout" expires="<TMPL_VAR .expires>"><i class="fas fa-sign-out-alt"></i>&nbsp;<TMPL_VAR .presets.user> <TMPL_VAR .loc.logout></a></div>

</nav>

<main id="content">

