<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><TMPL_VAR .doc.title></title>
    <link type="text/css" href="css/event.css"  rel="stylesheet"/>
    <link type="text/css" href="css/comment.css" rel="stylesheet"/>

    <!-- for edit series-->
    <script src="js/series.js" type="text/javascript"></script>
    <script src="js/edit-event.js" type="text/javascript"></script>
    <script src="js/comment.js" type="text/javascript"></script>

    <link type="text/css" href="css/image.css" rel="stylesheet"/>
    <script src="js/image.js" type="text/javascript"></script>

    <script>
        var region='<TMPL_VAR loc.region escape=js>';
        var event_id='<TMPL_VAR event_id escape=js>';
        <TMPL_IF .forced_change>pageHasChangedCounter=1;</TMPL_IF>
        <TMPL_IF .event_edited>
            $(document).ready(
                function(){
                    if ($('div.error').length>0) return;
                    if(comeFromCalendar()) getBack();
                }
            );
        </TMPL_IF>
        $(document).ready(
            function(){
                loadComments('<TMPL_VAR .event_id escape=js>', function(){
                    // initially hide comments
                    $('#event_<TMPL_VAR id>_comments').hide();
                    if ($('#comments table').length==0){
                        // hide comment button if no comments exist
                        $('#comments').hide();
                        $('button#showComment').each(
                            function(){
                                $(this).hide();
                            }
                        );
                    }
                });
            <TMPL_IF edit_lock>
            $( "#edit_event input" ).prop( "disabled", true );
            $( "#edit_event textarea" ).prop( "disabled", true );
            $( "#edit_event select" ).prop( "disabled", true );
            </TMPL_IF>
            }
        );
    </script>
</head>
<body>

<TMPL_IF edit_lock>
<div class="warn head"><TMPL_VAR loc.label_edit_lock></div>
</TMPL_IF>

<!-- buttons -->
<div class="buttons">
    <TMPL_IF series_id>
        <TMPL_IF .allow.read_series>
        <button
            onclick="view_series_details('<TMPL_VAR .project_id escape=js>','<TMPL_VAR .studio_id escape=js>','<TMPL_VAR series_id escape=js>')"
        ><TMPL_VAR .loc.button_edit_series></button>
        </TMPL_IF>
    </TMPL_IF>

    <TMPL_IF .allow.read_event>
            <button
                onclick="listEvents('<TMPL_VAR .project_id>','<TMPL_VAR .studio_id>','<TMPL_VAR .series_id>')"
            ><TMPL_VAR .loc.button_event_list></button>
    </TMPL_IF>

    <TMPL_IF new_event>
        <TMPL_IF .allow.delete_schedule>
            <button class="text"
                onclick="deleteFromSchedule('<TMPL_VAR .project_id>','<TMPL_VAR .studio_id>','<TMPL_VAR .series_id>','<TMPL_VAR start escape=url>');return false;"
            ><TMPL_VAR .loc.button_delete_from_schedule></button>
    </TMPL_IF>
    <TMPL_ELSE>
        <TMPL_IF .allow.assign_series_events>
            <button class="text" onclick="selectChangeSeries('changeSeriesId');"
            ><TMPL_VAR loc.button_assign_series></button>
        </TMPL_IF>
    </TMPL_IF>

    <TMPL_UNLESS new_event>
    <TMPL_IF .allow.update_event>
        <button class="text"
            onclick="selectRerun('rerunEventId', <TMPL_VAR start_date>)"
        ><TMPL_VAR .loc.button_rerun></button>
    </TMPL_IF>
    </TMPL_UNLESS>

    <TMPL_UNLESS new_event>
        <TMPL_UNLESS is_over>
        <TMPL_IF .allow.upload_audio_recordings>
            <button class="text"
                onclick="uploadRecording('<TMPL_VAR .project_id>',<TMPL_VAR .studio_id>,'<TMPL_VAR .series_id>','<TMPL_VAR .event_id>');"
            ><TMPL_VAR .loc.button_upload></button>
        </TMPL_IF>
        </TMPL_UNLESS>

        <TMPL_IF is_over>
        <TMPL_IF .allow.create_download>
            <button class="text"
                onclick="downloadRecording('<TMPL_VAR .project_id>',<TMPL_VAR .studio_id>,'<TMPL_VAR .series_id>','<TMPL_VAR .event_id>');"
            ><TMPL_VAR .loc.button_download></button>
        </TMPL_IF>
        </TMPL_IF>
    </TMPL_UNLESS>

    <TMPL_UNLESS new_event>
    <TMPL_UNLESS show_new_event>
        <TMPL_IF .allow.read_event>
            <button target="_blank" class="text"
                onclick="window.open('/programm/sendung/<TMPL_VAR event_id>.html', '_blank');"
            ><TMPL_VAR .loc.button_show_event></button>
        </TMPL_IF>

        <TMPL_IF .allow.read_comment>
            <button id="showComment" class="text"
                onclick="showEventComments('<TMPL_VAR id escape=js>')"
            ><TMPL_VAR .loc.label_comments></button>
        </TMPL_IF>
    </TMPL_UNLESS>
    </TMPL_UNLESS>

    <TMPL_UNLESS new_event>
    <div class="buttons">
        <TMPL_UNLESS show_new_event>
            <TMPL_IF .allow.read_event>
                <button target="_blank" class="text"
                    onclick="showHistory('<TMPL_VAR project_id>', '<TMPL_VAR studio_id>', '<TMPL_VAR series_id>', '<TMPL_VAR event_id>');"
                ><TMPL_VAR .loc.button_show_changes></button>
            </TMPL_IF>
        </TMPL_UNLESS>
    </div>
    </TMPL_UNLESS>

    <!-- header buttons -->
    <TMPL_UNLESS edit_lock>
    <div class="buttons" style="text-align:center;clear:both">
        <TMPL_IF show_new_event_from_schedule>
            <TMPL_IF .allow.create_event_from_schedule>
                <button class="primary"
                    onclick="createEventFromSchedule('#edit_event form#event_<TMPL_VAR event_id>');leavePage();return false"
                ><TMPL_VAR .loc.button_create></button>
             </TMPL_IF>
        <TMPL_ELSIF show_new_event>
            <TMPL_IF .allow.create_event>
                <button class="primary"
                    onclick="createEvent2('#edit_event form#event_<TMPL_VAR event_id>');leavePage();return false"
                ><TMPL_VAR .loc.button_create></button>
             </TMPL_IF>
        <TMPL_ELSE>
            <TMPL_IF .allow.update_event>
                <button class="primary"
                    onclick="saveEvent('#edit_event form#event_<TMPL_VAR event_id>', 'save');return false"
                ><TMPL_VAR .loc.button_save></button>
            </TMPL_IF>
        </TMPL_IF>
        <TMPL_IF .allow.delete_event>
            <TMPL_UNLESS new_event>
                <button class="text"
                    onclick="deleteEvent('#edit_event form#event_<TMPL_VAR event_id>', 'delete'); return false;"
                ><TMPL_VAR .loc.button_delete></button>
            </TMPL_UNLESS>
        </TMPL_IF>
    </div>
    </TMPL_UNLESS>
    <!-- download output -->
    <TMPL_IF download>
        <div type="hidden" class="panel" name="event_id" ><TMPL_VAR download escape=none></div>
    </TMPL_IF>

</div>

<!-- edit -->
<div class="editor">

<div>
    <!-- import rerun from old event of series or any event of any project -->
    <TMPL_IF .allow.update_event>
        <div id="selectRerun" style="display:none;" class="select panel">

            <div class="panel-header">

                <b><TMPL_VAR weekday_short_name>, <TMPL_VAR start_date_name>, <TMPL_VAR start_time_name></b>,
                <TMPL_VAR .loc.label_overwrite_event> <TMPL_VAR .loc.label_rerun>
            </div>

            <div class="panel-body">
                <div onclick="selectOldEventFromSeries('rerunEventId','<TMPL_VAR start_date escape=js>'); updateCheckBox($(this).find('input:radio'),true);"
                    class="option"
                >
                    <input type="radio" name="group" class="default" />
                    <TMPL_VAR .loc.label_rerun_select_old>
                </div>

                <div onclick="selectOtherEvent('rerunEventId'); updateCheckBox($(this).find('input:radio'),true);"
                    class="option"
                >
                    <input type="radio" name="group" />
                    <TMPL_VAR .loc.label_rerun_select_other>
                </div>

                <input id="rerunEventId" value="-1" style="display:none" onchange="" />

                <div id="import_rerun" class="active text" style="display:none;"></div>
                <button onclick="hideSelectRerun('rerunEventId')"><TMPL_VAR .loc.button_cancel></button>
                <button onclick="if ($('#rerunEventId').val()) copyFromEvent('rerunEventId')"><TMPL_VAR .loc.button_apply></button>
            </div>
        </div>
    </TMPL_IF>

    <!-- move to other series -->
    <TMPL_UNLESS show_new_event>
    <TMPL_IF .allow.assign_series_events>
        <div id="selectChangeSeries" class="active" style="display:none" class="panel">
            <div class="panel-header">
                <TMPL_VAR .loc.button_assign_series>
            </div>
            <div class="panel-body">
                <div id="changeSeriesContainer"> </div>
                <input id="changeSeriesId" value="-1" style="display:none" />
                <button onclick="hideChangeSeries()" ><TMPL_VAR .loc.button_cancel></button>
                <button onclick="changeSeries()"><TMPL_VAR .loc.button_assign></button>
            </div>
        </div>
    </TMPL_IF>
    </TMPL_UNLESS>

    <!-- edit event -->
<div id="edit_event" class="panel">
<form id="event_<TMPL_VAR event_id>">
    <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>" />
    <input type="hidden" name="studio_id"  value="<TMPL_VAR .studio_id>" />
    <input type="hidden" name="series_id"  value="<TMPL_VAR .series_id>" />
    <TMPL_UNLESS new_event>
    <input type="hidden" name="event_id"   value="<TMPL_VAR .event_id>" />
    </TMPL_UNLESS>

    <!-- edit event time -->
    <!-- <TMPL_UNLESS new_event>style="display:none"</TMPL_UNLESS> -->
    <table id="edit_time_<TMPL_VAR event_id>" class="edit_event" >
        <tr>
            <td class="label"><TMPL_VAR .loc.lable_title></td>
            <td>
                <TMPL_IF has_single_events><TMPL_VAR .loc.single_event><TMPL_ELSE><TMPL_VAR series_name></TMPL_IF><br>
                <TMPL_IF .allow.update_event_field_title>
                    <input name="title" value="<TMPL_VAR title>" placeholder="<TMPL_VAR .loc.label_title>" />
                <TMPL_ELSE>
                    <TMPL_VAR title>
                </TMPL_IF>

                <TMPL_IF .allow.update_event_field_title_extension>
                    <input name="user_title" value="<TMPL_VAR user_title>" id="user_title_<TMPL_VAR event_id>" placeholder="<TMPL_VAR .loc.label_title_extension>" />
                <TMPL_ELSE>
                    <TMPL_VAR user_title>
                </TMPL_IF>

                <TMPL_UNLESS has_single_events>
                <TMPL_IF .allow.update_event_field_episode>
                    <span class="label"><TMPL_VAR .loc.label_episode></span>
                    <input name="episode" value="<TMPL_VAR episode>" class="episode" placeholder="episode" />
                <TMPL_ELSE>
                    <TMPL_VAR .loc.label_episode>: <TMPL_VAR episode>
                </TMPL_IF>
                </TMPL_UNLESS>
            </td>
        </tr>

        <TMPL_UNLESS show_new_event>
        <tr id="copy_event_line">
            <td class="label"></td>
            <td>
                <TMPL_VAR start> - <TMPL_VAR full_title>
                <button class="text" onclick="copyEventToClipboard();return false;"><img src="image/dark/copy.svg"></button>
            </td>
        </tr>
        </TMPL_UNLESS>

        <TMPL_IF .allow.update_event_time>
        <!-- event time edit -->
        <tr>
            <td class="label"><TMPL_VAR .loc.label_when></td>
            <td>
                <span class="label"><TMPL_VAR .loc.label_start>:</span>
                <span id="start_date_weekday"></span>
                <input id="start_date" class="date" name="start_date" value="<TMPL_VAR start>" onchange="onDateModified()" placeholder="<TMPL_VAR .loc.label_when>" />

                <span class="label"><TMPL_VAR .loc.label_duration>:</span>
                <select id="duration" name="duration" onchange="onDateModified()"> minutes
                <TMPL_LOOP durations>
                    <option value="<TMPL_VAR value>" <TMPL_IF selected>selected="selected"</TMPL_IF>><TMPL_VAR name></option>
                </TMPL_LOOP>
                </select>

                <span class="label"><TMPL_VAR .loc.label_end>:</span>
                <span id="end_date" class="date" name="end_date" ><TMPL_VAR end></span>

            </td>
        </tr>
        <TMPL_ELSE>
            <!-- event time read -->
            <TMPL_IF .allow.read_event>
                <TMPL_UNLESS new_event></TMPL_UNLESS>
                <tr>
                    <td class="label"><TMPL_VAR .loc.label_when></td>
                    <td><TMPL_VAR weekday_short_name>, <TMPL_VAR start_date_name>, <TMPL_VAR start_time_name> - <TMPL_VAR end_time>
                        <input type="hidden" id="start_date" name="start_date" value="<TMPL_VAR start>" />
                        <TMPL_LOOP durations><TMPL_IF selected><input type="hidden" name="duration" value="<TMPL_VAR value>" /></TMPL_IF></TMPL_LOOP>
                    </td>
                </tr>
            </TMPL_IF>
        </TMPL_IF>

        <tr>
            <td class="label"><TMPL_VAR .loc.label_status></td>
            <td>
                <TMPL_IF .allow.update_event_status_live>
                    <input type="checkbox" name="live" <TMPL_IF live>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /> <TMPL_VAR .loc.label_live> </input>
                <TMPL_ELSE>
                    <TMPL_IF live><TMPL_VAR .loc.label_live></TMPL_IF>
                </TMPL_IF>

                <TMPL_IF .allow.update_event_status_published>
                    <input type="checkbox" name="published"   <TMPL_IF published>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /> <TMPL_VAR .loc.label_published>
                <TMPL_ELSE>
                    <TMPL_IF published><TMPL_VAR .loc.label_published></TMPL_IF>
                </TMPL_IF>

                <span <TMPL_IF path>title="<TMPL_VAR path>"</TMPL_IF>>
                    <TMPL_IF .allow.update_event_status_playout>
                        <input type="checkbox" name="playout"
                            <TMPL_IF playout> checked="checked" value="1"<TMPL_ELSE> value="0"</TMPL_IF>
                        /> <TMPL_VAR .loc.label_playout>
                    <TMPL_ELSE>
                        <TMPL_IF playout><TMPL_VAR .loc.label_playout></TMPL_IF>
                    </TMPL_IF>
                    <TMPL_IF path><img src="image/dark/play.svg" style="color:#03a9f4"></TMPL_IF>
                </span>

                <TMPL_IF .allow.update_event_status_archived>
                    <input type="checkbox" name="archived"    <TMPL_IF archived>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /> <TMPL_VAR .loc.label_archived>
                <TMPL_ELSE>
                    <TMPL_IF archived><TMPL_VAR .loc.label_archived></TMPL_IF>
                </TMPL_IF>

                <TMPL_IF .allow.update_event_status_rerun>
                    <input type="checkbox" name="rerun"       <TMPL_IF rerun>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /> <TMPL_VAR .loc.label_rerun>
                <TMPL_ELSE>
                    <TMPL_IF rerun><TMPL_VAR .loc.label_rerun></TMPL_IF>
                </TMPL_IF>

                <TMPL_IF .allow.update_event_status_draft>
                    <input type="checkbox" name="draft"       <TMPL_IF draft>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /> <TMPL_VAR .loc.label_draft>
                <TMPL_ELSE>
                    <TMPL_IF draft><TMPL_VAR .loc.label_draft></TMPL_IF>
                </TMPL_IF>
            </td>
        </tr>

    </table>

    <!-- edit event content -->
    <table id="edit_content_<TMPL_VAR event_id>" class="edit_event" />
        <tr id="excerpt">
            <td class="label"><TMPL_VAR .loc.label_excerpt></td>
            <td>
                <div id="excerpt_too_long" class="error" style="display:none"><TMPL_VAR .loc.label_excerpt_too_long></div>
                <TMPL_IF .allow.update_event_field_excerpt>
                    <textarea name="excerpt" class="excerpt" maxlength="251" placeholder="<TMPL_VAR .loc.label_excerpt>"><TMPL_VAR excerpt></textarea>
                <TMPL_ELSE>
                    <TMPL_VAR excerpt>
                </TMPL_IF>
            </td>
        </tr>

        <tr id="user_excerpt">
            <td class="label">
                <TMPL_IF .allow.update_event_field_excerpt_extension><TMPL_VAR .loc.label_excerpt_extension>
                <TMPL_ELSE>
                    <TMPL_IF user_excerpt><TMPL_VAR .loc.label_excerpt_extension></TMPL_IF>
                </TMPL_IF>
            </td>
            <td>
                <div id="excerpt_extension_too_long" class="error" style="display:none"><TMPL_VAR .loc.label_excerpt_extension_too_long></div>
                <TMPL_IF .allow.update_event_field_excerpt_extension>
                     <textarea class="excerpt" name="user_excerpt" maxlength="251" placeholder="<TMPL_VAR .loc.label_excerpt_extension>"><TMPL_VAR user_excerpt></textarea>
                <TMPL_ELSE>
                    <TMPL_VAR user_excerpt>
                </TMPL_IF>
            </td>
        </tr>

        <tr id="topic_<TMPL_VAR event_id>">
            <td class="label"><TMPL_VAR .loc.label_topics></td>
            <td class="edit_topic">
                <TMPL_IF .allow.update_event_field_topic>
                    <textarea name="topic" placeholder="<TMPL_VAR .loc.label_topics>"><TMPL_VAR topic></textarea>
                <TMPL_ELSE>
                     <TMPL_VAR html_topic escape=none>
                </TMPL_IF>
            </td>
        </tr>

        <tr>
            <td class="label"><TMPL_VAR .loc.label_description></td>
            <td class="edit_content">
                <TMPL_IF .allow.update_event_field_description>
                    <textarea name="content" placeholder="<TMPL_VAR .loc.label_description>"><TMPL_VAR content></textarea>
                <TMPL_ELSE>
                    <TMPL_VAR html_content escape=none>
                </TMPL_IF>
            </td>
        </tr>

        <TMPL_IF .allow.read_image>
        <tr>
            <td class="label">
                <TMPL_VAR .loc.label_image>
            </td>
            <td>
                <TMPL_IF .allow.update_event_field_image>
                    <button type="button" class="select-image" 
                        data-search="<TMPL_VAR series_name>"
                        data-filename="<TMPL_VAR image>" 
                        data-target="broadcast"
                        data-project_id="<TMPL_VAR .project_id>" 
                        data-studio_id="<TMPL_VAR .studio_id>"
                        data-series_id="<TMPL_VAR series_id>"
                        data-event_id="<TMPL_VAR event_id>"
                        onclick="return false"
                    >
                        <img id="imagePreview" src="show-image.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR studio_id>&filename=<TMPL_VAR image>&type=icon">
                    </button>
                    <input id="image_<TMPL_VAR event_id>" name="image" value="<TMPL_VAR image>" class="image" placeholder="<TMPL_VAR .loc.label_image>" />
                    <input type="hidden" name="series_image" value="<TMPL_VAR series_image>" />
                </TMPL_IF>
            </td>
        </tr>
        </TMPL_IF>

        <tr>
            <td class="label">
                <TMPL_VAR .loc.label_podcast_url>
            </td>
            <td>
                <TMPL_IF .allow.update_event_field_podcast_url>
                    <input name="podcast_url" value="<TMPL_VAR podcast_url>" class="url" placeholder="<TMPL_VAR .loc.label_podcast_url>" />
                <TMPL_ELSE>
                    <TMPL_VAR podcast_url>
                </TMPL_IF>
            </td>
        </tr>

        <tr>
            <td class="label">
                <TMPL_VAR .loc.label_archive_url>
            </td>
            <td>
                <TMPL_IF .allow.update_event_field_archive_url>
                    <input name="archive_url" value="<TMPL_VAR archive_url>" class="url" placeholder="<TMPL_VAR .loc.label_archive_url>" />
                <TMPL_ELSE>
                    <TMPL_VAR archive_url>
                </TMPL_IF>
            </td>
        </tr>

        <tr>
            <td class="label"><TMPL_VAR .loc.label_content_format></td>
            <td>
                <TMPL_IF .allow.update_event_field_content_format>
                <select name="content_format" value="<TMPL_VAR content_format>">
                    <option value="creole"<TMPL_IF content_format_creole> selected="selected"</TMPL_IF>><TMPL_VAR .loc.label_content_format_creole></option>
                    <option value="markdown"<TMPL_IF content_format_markdown> selected="selected"</TMPL_IF>><TMPL_VAR .loc.label_content_format_markdown></option>
                </select>
                <TMPL_ELSE>
                    <TMPL_VAR content_format>
                </TMPL_IF>
            </td>
        </tr>

    </table>
    </form>

        <TMPL_IF modified_at>
            <span class="label"><TMPL_VAR .loc.label_modified_at> <TMPL_VAR modified_at> <TMPL_VAR .loc.label_modified_by> <TMPL_VAR modified_by>.</span>
        </TMPL_IF>

</div>

<TMPL_IF .allow.read_comment>
<div id="comments" class="panel">
    <button id="showComment" onclick="showEventComments('<TMPL_VAR id escape=js>')"><TMPL_VAR .loc.label_comments></button>
    <div class="event" id="event_<TMPL_VAR id>_comments" style="line-height:100%;display:none;"> </div>
</div>
</TMPL_IF>
</div>

</main>
</body>
</html>
