<TMPL_INCLUDE header.html>
<h1><a href="error_log.cgi">Error-Log</a></h1>
<style>
	pre {line-height:110%;font-size:8pt;border:1px solid #ccc;}
</style>

logs:
<a href="error_log.cgi?log=errors">error</a> |
<a href="error_log.cgi?log=job">jobs</a> |
<a href="error_log.cgi?log=app">application</a> |
<a href="error_log.cgi?log=mem">memory</a>
lines:
<a href="error_log.cgi?lines=100">100</a> |
<a href="error_log.cgi?lines=1000">1000</a> |
<a href="error_log.cgi?lines=10000">10000</a> |
warnings:
<a href="error_log.cgi">hide</a> |
<a href="error_log.cgi?warn=1">show</a> |
<pre>


