<script type="text/javascript" defer>
var event_manager=0;
</script>

<link rel="preload" href="css/theme.default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="css/default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="css/flatpickr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<link rel="preload" as="script" href="js/jquery.min.js">
<link rel="preload" as="script" href="js/jquery.tablesorter.min.js">
<link rel="preload" as="script" href="js/flatpickr.js">
<link rel="preload" as="script" href="js/flatpickr-de.js">

<link rel="preload" as="script" href="js/datetime.js">
<link rel="preload" as="script" href="js/page-leave-handler.js">
<link rel="preload" as="script" href="js/history.js">
<link rel="preload" as="script" href="js/default.js">

<script src="js/jquery.min.js" type="text/javascript" defer></script>
<script src="js/jquery.tablesorter.min.js" type="text/javascript" defer></script>
<script src="js/flatpickr.js" type="text/javascript" defer></script>
<script src="js/flatpickr-de.js" type="text/javascript" defer></script>

<script src="js/datetime.js" type="text/javascript" defer></script>
<script src="js/page-leave-handler.js" type="text/javascript" defer></script>
<script src="js/history.js" type="text/javascript" defer></script>
<script src="js/default.js" type="text/javascript" defer></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
