<script type="text/javascript">
var event_manager=0;
</script>

<link rel="preload" href="css/theme.default.css"" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="css/default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="css/flatpickr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<!--
<link rel="stylesheet" href="css/theme.default.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link rel="stylesheet" href="css/flatpickr.min.css" type="text/css" />
 -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="js/flatpickr.js" type="text/javascript"></script>
<script src="js/flatpickr-de.js" type="text/javascript"></script>

<script src="js/datetime.js" type="text/javascript"></script>
<script src="js/page-leave-handler.js" type="text/javascript"></script>
<script src="js/history.js" type="text/javascript"></script>
<script src="js/default.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
