Content-type:text/html; charset=utf8;

<TMPL_IF .allow.read_image>
<div id="content">
<div id="status"></div>
<div class="split panel">
    <div id="abort-image-editor" class="close-button">&#x2715;</div>

    <div id="imageList">
        <div>
            <input id="search-field" placeholder="Suche">
            <button id="search-button"><TMPL_VAR .loc.button_search></button>
        </div>
        <div class="images"></div>
    </div>

    <div id="imageEditor" class="editor">
        <div id="tools"></div>
        <div class="panel-body">
        <TMPL_IF name="allow.create_image">
            <label><TMPL_VAR .loc.label_file></label><br>
            <input type="file" name="upload" accept="image/*" maxlength="2000000" size="10" required />
            <button onclick="uploadImage();return false"><TMPL_VAR .loc.button_upload></button><br>
        </TMPL_IF>

        <form id="image-form" method="post" action="image.cgi" onsubmit="return false;"
        >
            <input id="project_id" type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
            <input id="studio_id" type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
            <input id="public" type="hidden" class="public" name="public" <TMPL_IF public>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /><br>
    
            <label><TMPL_VAR .loc.label_name></label><br>
            <input id="name" name="name" value="<TMPL_VAR name escape=none>" class="field" size="40" maxlength="100" placeholder="<TMPL_VAR .loc.label_mandatory_field>"><br>
    
            <label><TMPL_VAR .loc.label_author>/<TMPL_VAR .loc.label_licence></label><br>
            <input id="license" name="licence" value="<TMPL_VAR licence>" class="field<TMPL_IF missing_licence> error</TMPL_IF>" size="40" placeholder="<TMPL_VAR .loc.label_mandatory_field_licence>" required/><br>
    
            <label><TMPL_VAR .loc.label_description></label><br>
            <textarea id="description" name="description" cols="50" rows="5"><TMPL_VAR description escape=none></textarea><br>
        </form>
        <TMPL_IF name="allow.update_image">
            <button id="save-image"><TMPL_VAR .loc.button_save></button/>
        </TMPL_IF>

        <TMPL_IF name="allow.delete_image">
            <button id="delete-image"><TMPL_VAR .loc.button_delete></button>
        </TMPL_IF>
    
        <div id="image_properties">
        </div>
    
        </div>
    </div>
</div>
</div>--
</TMPL_IF>
