    <div>
        <form name="img_upload" id="img_upload" method="post" action="imageUpload.cgi" enctype="multipart/form-data">
	        <table>
		        <tr>	
			        <td>
				        <TMPL_IF filename>
				        <a href="<TMPL_VAR local_media_url>images/<TMPL_VAR filename escape=0>" >
					        <img src="<TMPL_VAR local_media_url>thumbs/<TMPL_VAR filename escape=0>" />
					        <img src="<TMPL_VAR local_media_url>icons/<TMPL_VAR filename escape=0>" />
				        </a>
				        </TMPL_IF>
			        </td>

			        <td>
				        <TMPL_IF filename>
				        <input value="{{thumbs/<TMPL_VAR filename escape=0>|<TMPL_VAR name escape=0>}}" size="40" />
				        </TMPL_IF>
			        </td>
		        </tr>
		        <tr>	
			        <td>Datei</td>
			        <td><input type="file" name="image" accept="image/*" maxlength="2000000" size="10"/>  </td>
		        </tr>

		        <tr>
			        <td>Name:		</td>
			        <td><input value="<TMPL_VAR name escape=0>" name="name" size="40" maxlength="100"> </td>
		        </tr>
		        <tr>
			        <td>Beschreibung:	</td>
			        <td><textarea name="description" cols="50" rows=5><TMPL_VAR description escape=0></textarea></td>
		        </tr>
		        <tr>
			        <td colspan="2" style="text-align:right">
				        <input type="submit" name="action" value="Hochladen!" />
			        </td>
		        </tr>
	        </table>
        </form>
    </div>
</body>
</html>

<TMPL_IF action>
    <TMPL_IF error>
	    <div id="output">failed</div>
	    <div id="message"><TMPL_VAR error></div>
    <TMPL_ELSE>
	    <div id="output">success</div>
	    <div id="message">
		    <TMPL_VAR action_result>
		    {{thumbs//<TMPL_VAR filename>}}
            <button onclick="selectThisImage('<TMPL_VAR filename>')">assign to event</button>
	    </div>
	    <div id="upload_image_id"><TMPL_VAR image_id></div>
	    <div id="upload_image_filename"><TMPL_VAR filename></div>
	    <div id="upload_image_title"><TMPL_VAR title></div>
	    <div id="upload_image_link">{{thumbs//<TMPL_VAR filename>}}</div>
    </TMPL_IF>
</TMPL_IF>

