Content-type:text/html; charset=utf8;

<TMPL_IF .allow.read_image>
<div id="status"></div>
<main id="content"
    data-js-init="calcms.init_image"
    title="<TMPL_VAR .loc.title>"
    data-region="<TMPL_VAR loc.region escape=js>"
>
    <div id="image-list" class="sidebar">
        <div>
            <input id="search-field" placeholder="Suche">
            <button id="search-button" class="primary">
                <sprite-icon name="search"></sprite-icon>
                <TMPL_VAR .loc.button_search>
            </button>
        </div>
        <div class="images panel"></div>
    </div> <!--  image list -->
    
    <div id="image-editor" class="editor panel">
        <form id="image-form" method="post" action="image.cgi" onsubmit="return false;"
        >
            <input id="project_id" type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
            <input id="studio_id" type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
            <input id="public" type="hidden" class="public" name="public" <TMPL_IF public>checked="checked" value="1"<TMPL_ELSE>value="0"</TMPL_IF> /><br>
            <input id="filename" type="hidden" class="filename" name="filename" value="<TMPL_VAR filename>"/><br>
            <div class="image-form">
                <div>
                <label for="name"><TMPL_VAR .loc.label_name></label>
                <input id="name" name="name" value="<TMPL_VAR name escape=none>" class="field" size="40" maxlength="100" placeholder="<TMPL_VAR .loc.label_mandatory_field>"><br>
                </div>

                <div>
                <label for="license"><TMPL_VAR .loc.label_author>/<TMPL_VAR .loc.label_licence></label>
                <input id="licence" name="licence" value="<TMPL_VAR licence>" class="field<TMPL_IF missing_licence> error</TMPL_IF>" size="40" placeholder="<TMPL_VAR .loc.label_mandatory_field_licence>" required/><br>
                </div>

                <div>
                <label for="description"><TMPL_VAR .loc.label_description></label>
                <textarea id="description" name="description" cols="50" rows="5"><TMPL_VAR description escape=none></textarea><br>
                </div>
            </div>
        </form>

        <TMPL_IF name="allow.update_image">
            <div id="save-image" class="primary">
            <sprite-icon name="save"></sprite-icon>
            <TMPL_VAR .loc.button_save>
            </div>
        </TMPL_IF>

        <div id="image-properties"></div>
    </div><!--  editor -->
    <div id="image-tools" class="sidebar"></div>
</main>
</TMPL_IF>
