<html>
<body>
<main id="content"
    data-js-init="calcms.init_notify_daily"
    title="<TMPL_VAR .loc.title>"
    data-region="<TMPL_VAR loc.region escape=js>"
>
<table id="events">
<TMPL_LOOP events>
<tr id="header_<TMPL_VAR event_id>" class="mailHeader">
    <td><TMPL_VAR start></td>
    <td><TMPL_IF live>live</TMPL_IF> <TMPL_IF preproduction>preproduction</TMPL_IF> <TMPL_IF playout>playout</TMPL_IF></td>
    <td><TMPL_VAR full_title></td>
    <td><TMPL_VAR mail.To></td>
</tr>
</TMPL_LOOP>
</table>
</main>

</body>
</html>
