<link type="text/css" href="css/image.css" rel="stylesheet" defer/>
<script src="js/image.js" type="text/javascript " defer></script>

<!-- projects -->
<main id="content" 
    data-js-init="calcms.init_projects"
    title="<TMPL_VAR .loc.title>"
    data-region="<TMPL_VAR loc.region escape=js>"
>

<div class="sidebar"></div>

<div class="container scrollable gap">

<TMPL_LOOP projects>
<div class="panel project">

<div class="panel-header">
    <div class="title"><TMPL_VAR title></div>
</div>

<!-- view project -->
<div id="view_<TMPL_VAR project_id>" class="panel-body editor">
    <TMPL_IF image>
    <div>
        <label><TMPL_VAR .loc.label_image></label>
        <img class="cover-art"
            src="show-image.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>&filename=<TMPL_VAR image>&type=thumbs"
        >
    </div>
    </TMPL_IF>

    <div>
        <label><TMPL_VAR .loc.label_name></label>
        <div><TMPL_VAR name></div>
    </div>

    <TMPL_IF subtitle>
    <div>
        <label><TMPL_VAR .loc.label_subtitle></label>
        <TMPL_VAR subtitle>
    </div>
    </TMPL_IF>

    <div>
        <label><TMPL_VAR .loc.label_activity></label>
        <TMPL_VAR start_date> - <TMPL_VAR end_date>
    </div>

    <TMPL_IF email>
    <div>
        <label><TMPL_VAR .loc.label_email></label>
        <TMPL_VAR email>
    </div>
    </TMPL_IF>

    <div>
        <label><TMPL_VAR .loc.label_studios></label>
        <TMPL_LOOP assigned_studios>
            <TMPL_VAR name>, 
        </TMPL_LOOP>
    </div>
</div>

<TMPL_IF .allow.update_project>
    <button class="" onclick="edit_project($(this), '<TMPL_VAR project_id escape=js>')"
        data-action="<TMPL_VAR .loc.button_edit escape=HTML>"
        data-cancel="<TMPL_VAR .loc.button_cancel escape=HTML>"
    >
        <sprite-icon name="edit"></sprite-icon>
        <TMPL_VAR .loc.button_edit>
    </button>
</TMPL_IF>

<!-- update project -->
<TMPL_IF .allow.update_project>
<form method="post" action="projects.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>"
    id="project_<TMPL_VAR project_id>"
>
<div id="edit_<TMPL_VAR project_id>" class="panel-body editor" style="display:none;">
    <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
    <input type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>">
    <input type="hidden" name="pid" value="<TMPL_VAR pid>">

    <TMPL_IF .allow.read_image>
    <div class="col" style="float:right">
        <TMPL_IF .allow.update_event_field_image>
        <div>
            <label><TMPL_VAR .loc.label_image></label>
            <button type="button" class="select-image"
                data-search="<TMPL_VAR name>"
                data-filename="<TMPL_VAR image>"
                data-target="broadcast"
                data-project_id="<TMPL_VAR .project_id>"
                data-studio_id="<TMPL_VAR .studio_id>"
                data-series_id="<TMPL_VAR series_id>"
                data-event_id="<TMPL_VAR event_id>"
                onclick="return false"
            >
            <img id="imagePreview" class="cover-art" title="<TMPL_VAR image>" 
                src="show-image.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR studio_id>&filename=<TMPL_VAR image>&type=icon"
            >
            </button>
            <input type="hidden" id="image_<TMPL_VAR event_id>" name="image" value="<TMPL_VAR image>" class="image" placeholder=" " />
        </div>
        <input type="hidden" name="series_image" value="<TMPL_VAR series_image>" />
        </TMPL_IF>
    </div>
    </TMPL_IF>

<!-- 
    <div>
        <label><TMPL_VAR .loc.label_image></label>
        <button class="selectImage"
            onclick="selectImage('<TMPL_VAR name escape=js>', '<TMPL_VAR image  escape=js>', 'projects', '<TMPL_VAR .project_id escape=js>','<TMPL_VAR .studio_id escape=js>', null, null, '<TMPL_VAR pid escape=js>'); return false;"
        >
            <img id="imagePreview" class="cover-art"
                src="show-image.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>&filename=<TMPL_VAR image>&type=icon"
            >
        </button>
        <input id="image_<TMPL_VAR pid>" name="image" value="<TMPL_VAR image>" class="image" placeholder="<TMPL_VAR .loc.template_image>">
    </div>
-->
    <div>
        <label><TMPL_VAR .loc.label_title></label>     
        <input name="title" value="<TMPL_VAR title>">
    </div>

    <div>
        <label><TMPL_VAR .loc.label_name></label>
        <input name="name" value="<TMPL_VAR name>">
    </div>
    <div>
        <label><TMPL_VAR .loc.label_subtitle></label>
        <input name="subtitle" value="<TMPL_VAR subtitle>">
    </div>
    <div>
        <label><TMPL_VAR .loc.label_start_date></label>
        <input class="date fmt-date" name="start_date" value="<TMPL_VAR start_date>">
    </div>
    <div>
        <label><TMPL_VAR .loc.label_end_date></label>
        <input class="date fmt-date" name="end_date" value="<TMPL_VAR end_date>">
    </div>
    <div>
        <label><TMPL_VAR .loc.label_email></label>
        <input type="email" name="email" value="<TMPL_VAR email>">
    </div>

    <div>
        <button type=submit name="action" value="save">
            <sprite-icon name="save"></sprite-icon>
            <TMPL_VAR .loc.button_save>
        </button>

        <TMPL_IF .allow.delete_project>
            <div class="right">
            <button type=submit class="text" name="action" value="delete"
                onclick="commitForm('project_<TMPL_VAR project_id>','delete','<TMPL_VAR .loc.button_delete escape=js>');return false;"
            >
                <sprite-icon name="delete"></sprite-icon>
                <TMPL_VAR .loc.button_delete>
            </button>
            </div>
        </TMPL_IF>
    </div>

    <TMPL_IF .allow.update_project>
    <button onclick="edit_project_assignments('<TMPL_VAR project_id escape=js>')"
        class="text" style="float:left;margin:0;padding:0;text-align:left;"
    >
        <sprite-icon name="assign"></sprite-icon>
        <TMPL_VAR .loc.button_change>
    </button>
    </TMPL_IF>

</div>
</form>
</TMPL_IF> <!-- end update project -->

<TMPL_IF .allow.assign_project_studio>
<div id="assign_<TMPL_VAR project_id>" class="editor"  style="display:none">

<!-- assign studios -->
<div class="edit_series_members_<TMPL_VAR .series_id>" >
<form method="post" action="projects.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>">
    <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
    <input type="hidden" name="studio_id"  value="<TMPL_VAR .studio_id>">
    <input type="hidden" name="pid"        value="<TMPL_VAR pid>">
    <input type="hidden" name="action"     value="assign_studio">
    <select name="sid">
        <option value=""><TMPL_VAR .loc.label_select_studio></option>
        <TMPL_LOOP unassigned_studios>
            <option value="<TMPL_VAR id>"><TMPL_VAR name></option>
        </TMPL_LOOP>
    </select>
    <button type="submit"><TMPL_VAR .loc.button_assign_studio></button>
</form>
</div>
<!-- end assign studios -->

<!-- unassign studios -->
<TMPL_LOOP assigned_studios>
    <label><TMPL_VAR name></label>
    <div class="edit_series_members_<TMPL_VAR .series_id>" >
    <form method="post"
        action="projects.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>"
    >
        <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
        <input type="hidden" name="studio_id"  value="<TMPL_VAR .studio_id>">
        <input type="hidden" name="pid"        value="<TMPL_VAR pid>">
        <input type="hidden" name="sid"        value="<TMPL_VAR sid>">
        <input type="hidden" name="action"     value="unassign_studio">
        <button type="submit" class="text"
            onclick="commitForm($(this).parent(),'unassign_studio','<TMPL_VAR .loc.button_unassign_studio escape=js>');return false;"
        ><TMPL_VAR .loc.button_unassign_studio></button>
    </form>
    </div>
</TMPL_LOOP>
<!-- end unassign studios -->

</div>
</TMPL_IF> <!-- .allow.assign_project_studio -->

</div>
</TMPL_LOOP>
</div> <!-- container -->
<!--  end projects -->

<div class="sidebar">
<TMPL_IF .allow.create_project>
<!-- <div style="clear:both" class="newproject">-->
    <button onclick="add_project('<TMPL_VAR name escape=js>')"
        ><sprite-icon name="add"></sprite-icon>
        <TMPL_VAR .loc.button_add_project>
    </button><br/>

    <form method="post">
    <div id="edit_new" class="panel project editor" style="clear:both;display:none">
        <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>">
        <input type="hidden" name="studio_id"  value="<TMPL_VAR .studio_id>">
        <div>
            <label><TMPL_VAR .loc.label_name></label>
            <input name="name">
        </div>
        <div>
            <label><TMPL_VAR .loc.label_title></label>
            <input name="title">
        </div>
        <div>
            <label><TMPL_VAR .loc.label_subtitle></label>
            <input name="subtitle">
        </div>
        <div>
            <label><TMPL_VAR .loc.label_start_date></label>
            <input name="start_date" class="date fmt-date">
        </div>
        <div>
            <label><TMPL_VAR .loc.label_end_date></label>
            <input name="end_date" class="date fmt-date">
        </div>
        <div>
            <label><TMPL_VAR .loc.label_email></label>
            <input name="email">
        </div>
        <div>
            <button class="text cancel" 
                onclick="cancel_edit_project($(this),'new');return false;"
            >
                <sprite-icon name="cancel"></sprite-icon>
                <TMPL_VAR .loc.button_cancel>
            </button>

            <button class="primary" type=submit name="action" value="save">
                <sprite-icon name="save"></sprite-icon>
                <TMPL_VAR .loc.button_create>
            </button>
        </div>
    </div>
    </form>
</TMPL_IF> <!--  create project -->
</div> <!-- sidebar -->

</div> <!-- container -->
</main>
</body>
</html>
