<TMPL_INCLUDE default.html>

<style type="text/css">
div#edit_roles{
    overflow: auto;
}

div#edit_roles td:nth-child(1){
    max-width:14em;
}

div#edit_roles .comment{
    display:block;
    color:#999;
}

</style>
<script type="text/javascript">
$(document).ready(function() {
    $("input.disabled").attr('disabled', 'disabled');
    var width=960/($("input.role").length);
    $("input.role").css('width', width+'px');

    //$("#edit_roles").height($('#content').height());

    $('input[type="checkbox"]').click(
        function(){
            if ($(this).attr('value')=='1'){
                $(this).attr('value','0');
            }else{
                $(this).attr('value','1');
            }
        }
    );
});

function add_user_role(){
    if ($('#new_user_role').css('display')=='none'){
        $('.editor').show();
        $('#add_user_role_button').html('cancel add user role');
    }else{
        $('.editor').hide();
        $('#add_user_role_button').html('add user role');
    }
}
</script>

<div class="sidebar">
    <h2>Edit Roles</h2>
</div>
