<html5>
<html>
<body>

<TMPL_VAR .loc.label_show_schedule>
<table id="schedule_table">
    <thead>
    <tr>
        <th></th>
        <th><TMPL_VAR .loc.label_from></th>
        <th></th>
        <th><TMPL_VAR .loc.label_till></th>
        <th><TMPL_VAR .loc.label_studio></th>
    </tr>
    </thead>
    <tbody>
<TMPL_LOOP dates>
    <tr class="<TMPL_IF exclude>exclude</TMPL_IF>">
        <td><TMPL_VAR start_weekday></td>
        <td><TMPL_VAR start></td>
        <td><TMPL_VAR end_weekday></td>
        <td><TMPL_VAR end></td>
        <td><TMPL_VAR studio_name></td>
    </tr>    
</TMPL_LOOP>
    </tbody>
</table>

</body>
</html>
