<html>
<body>

<main id="content"
    data-js-init="calcms.init_studio_timeslot_dates"
    title="<TMPL_VAR .loc.title>"
    data-region="<TMPL_VAR loc.region escape=js>"
>

<table id="schedule_table">
    <thead>
    <tr>
        <th><TMPL_VAR .loc.label_from></th>
        <th><TMPL_VAR .loc.label_till></th>
        <th><TMPL_VAR .loc.label_studio></th>
    </tr>
    </thead>
    <tbody>
<TMPL_LOOP dates>
    <tr class="<TMPL_IF exclude>exclude</TMPL_IF>">
        <td class="fmt-datetime" data-text="<TMPL_VAR start>"><TMPL_VAR start></td>
        <td class="fmt-datetime" data-text="<TMPL_VAR end>"><TMPL_VAR end></td>
        <td><TMPL_VAR studio_name></td>
    </tr>
</TMPL_LOOP>
    </tbody>
</table>

</main>
</body>
</html>
