<style>
    #editor div p a img {
        float:right;
    }
</style>
<script>
    var region='<TMPL_VAR loc.region escape=js>';
</script>

<!-- view timeslot schedule and dates -->
<h2><TMPL_VAR .loc.title></h2>

<div id="tabs">
    <ul>
        <TMPL_IF .allow.update_schedule>
            <li><a href="#tabs-schedule"><TMPL_VAR .loc.tab_schedule></a></li>
        </TMPL_IF>
            <li><a href="#tabs-events"><TMPL_VAR .loc.tab_events></a></li>
    </ul>

    <!-- schedule -->
    <TMPL_IF .allow.update_schedule>
    <div id="tabs-schedule" class="panel">

        <!-- edit schedule -->
        <div id="edit_schedule" class="editor">

            <TMPL_LOOP schedule>
            <div class="row schedule" id="schedule_<TMPL_VAR schedule_id>">
                <form method="post" action="studio-timeslots.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>" id="form_schedule_<TMPL_VAR schedule_id>">
                    <input type="hidden" name="project_id"      value="<TMPL_VAR .project_id>" />
                    <input type="hidden" name="studio_id"       value="<TMPL_VAR .studio_id>" />
                    <input type="hidden" name="schedule_id"     value="<TMPL_VAR schedule_id>" />

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_start></div>
                        <input name="start" value="<TMPL_VAR start>" class="datetimepicker start"/>
                    </div>

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_end></div>
                        <input name="end" value="<TMPL_VAR end>" class="datetimepicker end"/>
                    </div>

                    <div class="cell period_type">
                        <div class="label"><TMPL_VAR .loc.period_type></div>
                        <select name="period_type" onchange="showScheduleFields('schedule_<TMPL_VAR schedule_id>')">
                            <option value="days" <TMPL_IF period_type_days>selected="selected"</TMPL_IF>
                            ><TMPL_VAR .loc.period_type_days></option>
                            <option value="week_of_month" <TMPL_IF period_type_week_of_month>selected="selected"</TMPL_IF>
                            ><TMPL_VAR .loc.period_type_week_of_month></option>
                        </select>
                    </div>

                    <div class="cell frequency">
                        <div class="label"><TMPL_VAR .loc.frequency></div>
                        <select name="frequency" value="<TMPL_VAR frequency>" class="frequency">
                            <option value="1"><TMPL_VAR .loc.daily></option>
                            <option value="7"><TMPL_VAR .loc.weekly></option>
                            <option value="14"><TMPL_VAR .loc.every_two_weeks></option>
                            <option value="28"><TMPL_VAR .loc.every_four_weeks></option>
                        </select>
                    </div>

                    <div class="cell week_of_month">
                        <div class="label"><TMPL_VAR .loc.week_of_month></div>
                        <select name="week_of_month" value="<TMPL_VAR week_of_month>" class="week_of_month">
                            <option value="1"><TMPL_VAR .loc.week_1st></option>
                            <option value="2"><TMPL_VAR .loc.week_2nd></option>
                            <option value="3"><TMPL_VAR .loc.week_3rd></option>
                            <option value="4"><TMPL_VAR .loc.week_4th></option>
                            <option value="5"><TMPL_VAR .loc.week_5th></option>
                        </select>
                    </div>

                    <div class="cell schedule_weekday">
                        <div class="label"><TMPL_VAR .loc.weekday></div>
                        <select name="weekday" value="<TMPL_VAR weekday>" class="schedule_weekday"/>
                            <option value="1"><TMPL_VAR .loc.monday></option>
                            <option value="2"><TMPL_VAR .loc.tuesday></option>
                            <option value="3"><TMPL_VAR .loc.wednesday></option>
                            <option value="4"><TMPL_VAR .loc.thursday></option>
                            <option value="5"><TMPL_VAR .loc.friday></option>
                            <option value="6"><TMPL_VAR .loc.saturday></option>
                            <option value="7"><TMPL_VAR .loc.sunday></option>
                        </select>
                    </div>

                    <div class="cell schedule_month">
                        <div class="label"><TMPL_VAR .loc.every_month></div>
                        <select name="month" value="<TMPL_VAR month>" class="schedule_month"/>
                            <option value="1"><TMPL_VAR .loc.every_time></option>
                            <option value="2"><TMPL_VAR .loc.every_2nd_time></option>
                            <option value="3"><TMPL_VAR .loc.every_3rd_time></option>
                            <option value="4"><TMPL_VAR .loc.every_4th_time></option>
                        </select>
                    </div>

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_update_until></div>
                        <input name="end_date" value="<TMPL_VAR end_date>" class="datetimepicker end_date"/>
                    </div>

                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_studio></div>
                        <select name="schedule_studio_id" class="studio">
                            <TMPL_LOOP studios>
                                <option value="<TMPL_VAR id>" <TMPL_IF selected>selected="selected"</TMPL_IF>><TMPL_VAR name></option>
                            </TMPL_LOOP>
                        </select>
                    </div>

                    <div class="cell">
                        <button type="submit" name="action" value="save_schedule"><TMPL_VAR .loc.button_save></button>
                    </div>

                    <TMPL_IF .allow.delete_schedule>
                    <div class="cell">
                        <button class="text" type="submit" name="action" value="delete_schedule"
                            onclick="commitForm('form_schedule_<TMPL_VAR schedule_id escape=js>','delete_schedule','<TMPL_VAR .loc.button_delete escape=js>');return false;"
                        ><TMPL_VAR .loc.button_delete></button>
                    </div>
                    </TMPL_IF>
                </form>
            </div>
            </TMPL_LOOP>

            <!-- add schedule-->
            <div class="row schedule row">
                <form id="schedule_add" method="post" action="studio-timeslots.cgi">
                    <input type="hidden" name="project_id" value="<TMPL_VAR .project_id>" />
                    <input type="hidden" name="studio_id" value="<TMPL_VAR .studio_id>" />

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_start></div>
                        <input name="start" value="<TMPL_VAR start>" class="datetimepicker start"/>
                    </div>

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_end></div>
                        <input name="end" value="<TMPL_VAR end>" class="datetimepicker end"/>
                    </div>

                    <div class="cell period_type">
                        <div class="label"><TMPL_VAR .loc.period_type></div>
                        <select name="period_type" onchange="showScheduleFields('schedule_add')">
                            <option value="days" <TMPL_IF period_type_days>selected="selected"</TMPL_IF>
                            ><TMPL_VAR .loc.period_type_days></option>
                            <option value="week_of_month" <TMPL_IF period_type_week_of_month>selected="selected"</TMPL_IF>
                            ><TMPL_VAR .loc.period_type_week_of_month></option>
                        </select>
                    </div>

                    <div class="cell frequency">
                        <div class="label"><TMPL_VAR .loc.frequency></div>
                        <select name="frequency" value="<TMPL_VAR frequency>" class="frequency">
                            <option value="1"><TMPL_VAR .loc.daily></option>
                            <option value="7"><TMPL_VAR .loc.weekly></option>
                            <option value="14"><TMPL_VAR .loc.every_two_weeks></option>
                            <option value="28"><TMPL_VAR .loc.every_four_weeks></option>
                        </select>
                    </div>

                    <div class="cell week_of_month">
                        <div class="label"><TMPL_VAR .loc.week_of_month></div>
                        <select name="week_of_month" value="<TMPL_VAR week_of_month>" class="week_of_month">
                            <option value="1"><TMPL_VAR .loc.week_1st></option>
                            <option value="2"><TMPL_VAR .loc.week_2nd></option>
                            <option value="3"><TMPL_VAR .loc.week_3rd></option>
                            <option value="4"><TMPL_VAR .loc.week_4th></option>
                            <option value="5"><TMPL_VAR .loc.week_5th></option>
                        </select>
                    </div>

                    <div class="cell schedule_weekday">
                        <div class="label"><TMPL_VAR .loc.weekday></div>
                        <select name="weekday" value="<TMPL_VAR weekday>" class="schedule_weekday"/>
                            <option value="1"><TMPL_VAR .loc.monday></option>
                            <option value="2"><TMPL_VAR .loc.tuesday></option>
                            <option value="3"><TMPL_VAR .loc.wednesday></option>
                            <option value="4"><TMPL_VAR .loc.thursday></option>
                            <option value="5"><TMPL_VAR .loc.friday></option>
                            <option value="6"><TMPL_VAR .loc.saturday></option>
                            <option value="7"><TMPL_VAR .loc.sunday></option>
                        </select>
                    </div>

                    <div class="cell schedule_month">
                        <div class="label"><TMPL_VAR .loc.every_month></div>
                        <select name="month" value="<TMPL_VAR month>" class="schedule_month"/>
                            <option value="1"><TMPL_VAR .loc.every_time></option>
                            <option value="2"><TMPL_VAR .loc.every_2nd_time></option>
                            <option value="3"><TMPL_VAR .loc.every_3rd_time></option>
                            <option value="4"><TMPL_VAR .loc.every_4th_time></option>
                        </select>
                    </div>

                    <div class="cell weekday"></div>
                    <div class="cell">
                        <div class="label"><TMPL_VAR .loc.label_update_until></div>
                        <input name="end_date" value="<TMPL_VAR end_date>" class="datetimepicker end_date"/>
                    </div>

                    <div class="cell">
                        <select name="schedule_studio_id" >
                            <TMPL_LOOP studios>
                                <option value="<TMPL_VAR id>" <TMPL_IF selected>selected="selected"</TMPL_IF>><TMPL_VAR name></option>
                            </TMPL_LOOP>
                        </select>
                    </div>

                    <TMPL_IF .allow.update_schedule>
                    <div class="cell">
                        <button type="submit" name="action" value="save_schedule"><TMPL_VAR .loc.button_create></button>
                    </div>
                    </TMPL_IF>
                </form>
            </div>
        </div>
        <p>
    </div>
    </TMPL_IF>

    <!-- show schedule -->
    <div id="tabs-events" class="panel">
        <div class="show_schedule_head"> <TMPL_VAR loc.label_select_range>
            <div id="show_date"> </div>
        </div>

        <div id="show_schedule" class="show_schedule">
        </div>
    </div>

</div>
</body>
</html>

