<link type="text/css" href="css/image.css" rel="stylesheet" defer/>
<script src="js/image.js" type="text/javascript " defer></script>

<main id="content"
    data-js-init="calcms.init_studios"
    title="<TMPL_VAR .loc.title>"
    data-region="<TMPL_VAR loc.region escape=js>"
>
<div class="sidebar"></div>

<div class="list scrollable">
    <TMPL_LOOP studios>
    <div class="panel editor studio">
        <div class="panel-header">
            <TMPL_VAR name>
        </div>

        <!-- view studio -->
        <div id="view_<TMPL_VAR id>" class="panel-body">
            <div>
                <label><TMPL_VAR .loc.label_image></label>
                <img
                    src="show-image.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>&filename=<TMPL_VAR image>&type=thumbs"
                >
            </div>
            <div>
                <label><TMPL_VAR .loc.label_description></label>
                <TMPL_VAR description>
            </div>
            <div>
                <label><TMPL_VAR .loc.label_location></label>
                <TMPL_VAR location>
            </div>
            <div>
                <label><TMPL_VAR .loc.label_stream></label>
                <TMPL_VAR stream>
            </div>
        </div>

        <TMPL_IF .allow.update_studio> <!-- update studio -->
        <form method="post" id="studio_<TMPL_VAR id>">
            <div id="edit_<TMPL_VAR id>" class="editor" style="display: none">
                <input type="hidden" name="id" value="<TMPL_VAR id>">
                <input type="hidden" name="project_id"
                    value="<TMPL_VAR .project_id>"> <input
                    type="hidden" name="studio_id"
                    value="<TMPL_VAR .studio_id>">
                <div>
                    <label><TMPL_VAR .loc.label_name></label>
                    <input name="name" value="<TMPL_VAR name>">
                </div>
                <div>
                    <label><TMPL_VAR .loc.label_description></label>
                    <input name="description"
                        value="<TMPL_VAR description>">
                </div>
                <div>
                    <label><TMPL_VAR .loc.label_location></label>
                    <input name="location" value="<TMPL_VAR location>">
                </div>
                <div>
                    <TMPL_IF stream> <label><TMPL_VAR
                            .loc.label_stream></label> <input
                        name="stream" value="<TMPL_VAR stream>">
                    </TMPL_IF>
                </div>
                <TMPL_IF .allow.read_image>
                <div class="col" style="float:right">
                    <TMPL_IF .allow.update_event_field_image>
                    <div>
                        <label><TMPL_VAR .loc.label_image></label>
                        <button type="button" class="select-image"
                            data-search="<TMPL_VAR series_name>"
                            data-filename="<TMPL_VAR image>"
                            data-target="broadcast"
                            data-project_id="<TMPL_VAR .project_id>"
                            data-studio_id="<TMPL_VAR .studio_id>"
                            data-series_id="<TMPL_VAR series_id>"
                            data-event_id="<TMPL_VAR event_id>"
                            onclick="return false"
                        >
                        <img id="imagePreview" class="cover-art" title="<TMPL_VAR image>" 
                            src="show-image.cgi?project_id=<TMPL_VAR project_id>&studio_id=<TMPL_VAR studio_id>&filename=<TMPL_VAR image>&type=icon"
                        >
                        </button>
                        <input type="hidden" id="image_<TMPL_VAR event_id>" name="image" value="<TMPL_VAR image>" class="image" placeholder=" " />
                    </div>
                    <input type="hidden" name="series_image" value="<TMPL_VAR series_image>" />
                    </TMPL_IF>
                </div>
                </TMPL_IF>
                <!-- 
                <div>
                    <label><TMPL_VAR .loc.label_image></label>
                    <button class="selectImage"
                        onclick="selectImage('<TMPL_VAR name escape=javascript>', '<TMPL_VAR image escape=javascript>', 'studio', '<TMPL_VAR .project_id escape=js>','<TMPL_VAR .studio_id escape=js>'); return false;">
                        <img id="imagePreview" class="cover-art"
                            src="show-image.cgi?project_id=<TMPL_VAR .project_id escape=js>&studio_id=<TMPL_VAR .studio_id escape=js>&filename=<TMPL_VAR image escape=js>&type=icon">
                    </button>
                    <input id="image_<TMPL_VAR id escape=js>"
                        name="image" value="<TMPL_VAR image escape=js>"
                        class="image"
                        placeholder="<TMPL_VAR .loc.template_image escape=js>">
                </div>
                 -->
                <div>
                    <button type=submit name="action" value="save">
                        <sprite-icon name="save"></sprite-icon>
                        <TMPL_VAR .loc.button_save>
                    </button>
                    <button type=submit class="text" name="action"
                        value="delete"
                        onclick="commitForm('studio_<TMPL_VAR id escape=js>','delete','<TMPL_VAR .loc.button_delete escape=js>');return false;">
                        <sprite-icon name="delete"></sprite-icon>
                        <TMPL_VAR .loc.button_delete>
                    </button>
                </div>
            </div>
        </form>

        <div class="panel-body" style="display: flex">
            <!-- 
            <TMPL_IF .allow.read_event>
            <button target="_blank" class="text bottom"
                onclick="loadUrl('event-history.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR id>');">
                <sprite-icon name="change"></sprite-icon>
                <TMPL_VAR .loc.button_show_changes>
            </button>
            </TMPL_IF>
            -->

            <TMPL_IF .allow.update_studio>
            <button class="bottom right"
                onclick="edit_studio($(this), '<TMPL_VAR id escape=js>')"
                data-action="<TMPL_VAR .loc.button_edit escape=HTML>"
                data-cancel="<TMPL_VAR .loc.button_cancel escape=HTML>">
                <sprite-icon name="edit"></sprite-icon>
                <TMPL_VAR .loc.button_edit>
            </button>
            </TMPL_IF>
        </div>

        </TMPL_IF>
    </div>
    </TMPL_LOOP>
</div>

<div class="sidebar">
    <TMPL_IF .allow.update_studio>
    <!--  <div class="newstudio">-->
        <button onclick="add_studio('<TMPL_VAR name escape=js>')">
            <sprite-icon name="add"></sprite-icon>
            <TMPL_VAR .loc.button_add_studio>
        </button>
        <form method="post">
        <div id="edit_new" class="editor panel" style="display: none">
            <input type="hidden" name="project_id"
                value="<TMPL_VAR .project_id>"> <input
                type="hidden" name="studio_id"
                value="<TMPL_VAR .studio_id>">
            <div>
                <label><TMPL_VAR .loc.label_name></label>
                <input name="name">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_description></label>
                <input name="description">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_location></label>
                <input name="location">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_stream></label>
                <input name="stream">
            </div>
            <div>
                <button class="text"
                    onclick="cancel_edit_studio($(this), 'new');return false;">
                    <sprite-icon name="cancel"></sprite-icon>
                    <TMPL_VAR .loc.button_cancel>
                </button>
                <button type=submit name="action" value="save">
                    <sprite-icon name="save"></sprite-icon>
                    <TMPL_VAR .loc.button_create>
                </button>
            </div>
        </div>
        </form>
    <!--  </div>-->
    </TMPL_IF>
</div>

</main>
</body>
</html>
