
<TMPL_IF .allow.upload_audio_recordings>
    <div translate="yes" id="error" class="error" style="display:none"></div>
    <div translate="yes" id="info" class="ok" style="display:none"></div>

    <div class="panel">
        <h2>
            <TMPL_VAR event.full_title><br>
            <TMPL_VAR event.weekday_short_name>, <TMPL_VAR event.start_date_name> <TMPL_VAR event.start_time_name><br>
        </h2>

        <div style="padding-top:1rem;padding-bottom:1rem;">
        <TMPL_VAR event.excerpt>
        </div>

        <TMPL_UNLESS isOver>
        <div id="progress">
            <div><TMPL_VAR loc.upload_start></div>
            <div><TMPL_VAR loc.upload_message></div>

            <div id="progress_container">
                <div id="progress_done"></div>
                <div id="progress_todo"></div>
            </div>
            <div id="progressLabel"></div>
        </div>

        <form name="audio_recordings_upload" id="audio_recordings_upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="project_id" value="<TMPL_VAR project_id>" />
        <input type="hidden" name="studio_id"  value="<TMPL_VAR studio_id>" />
        <input type="hidden" name="series_id"  value="<TMPL_VAR series_id>" />
        <input type="hidden" name="event_id"   value="<TMPL_VAR event_id>" />
        <input type="hidden" name="action"     value="upload" />
        <input type="hidden" name="json"       value="1" />

        <div id="upload">
            <div><TMPL_VAR loc.file></div>

            <div><input type="file" id="file" name="upload" size="20" /></div>
            <div colspan="2" style="text-align:right;padding-right:0.5em;" id="uploadSize"></div>

            <div colspan="2" style="text-align:right;padding-right:0.5em;" >
                <button id="uploadButton" name="action" value="upload" tabindex="0"><TMPL_VAR loc.upload></button>
            </div>

            <div>
                <TMPL_IF filename>
                    <TMPL_VAR filename escape=none>"
                </TMPL_IF>
            </div>
        </div>

        </form>
        </TMPL_UNLESS>
    </div>
        
</TMPL_IF>

<table>
    <tr>
        <th><TMPL_VAR loc.action></th>
        <th><TMPL_VAR loc.name></th>
        <th><TMPL_VAR loc.uploaded_by></th>
        <th><TMPL_VAR loc.uploaded_at></th>
        <th><TMPL_VAR loc.size_in_bytes></th>
        <th><TMPL_VAR loc.event_duration_in_seconds></th>
        <th><TMPL_VAR loc.audio_duration_in_seconds></th>
        <th><TMPL_VAR loc.RMS_L></th>
        <th><TMPL_VAR loc.RMS_R></th>
        <th><TMPL_VAR loc.processed></th>
        <th><TMPL_VAR loc.mastered></th>
        <th><TMPL_VAR loc.modified_at></th>
    </tr>
    <TMPL_LOOP audio_recordings>
        <tr class="<TMPL_IF active>active<TMPL_ELSE>inactive</TMPL_IF>" >
            <td><button onclick="playAudio('<TMPL_VAR path escape=js>');return false"><TMPL_VAR .loc.play></button></td>
            <td><TMPL_VAR path></td>
            <td><TMPL_VAR created_by></td>
            <td><TMPL_VAR created_at></td>
            <td><TMPL_VAR size></td>
            <td><TMPL_VAR eventDuration></td>
            <td><TMPL_VAR audioDuration escape="text"></td>
            <td><TMPL_VAR rmsLeft escape="text"></td>
            <td><TMPL_VAR rmsRight escape="text"></td>
            <td><TMPL_VAR processed></td>
            <td><TMPL_VAR mastered></td>
            <td><TMPL_VAR modified_at></td>
            <TMPL_IF .allow.delete_audio_recordings>
            <td>
                <form>
                    <input type="hidden" name="project_id" value="<TMPL_VAR project_id>" />
                    <input type="hidden" name="studio_id"  value="<TMPL_VAR studio_id>" />
                    <input type="hidden" name="series_id"  value="<TMPL_VAR .series_id>" />
                    <input type="hidden" name="event_id"   value="<TMPL_VAR event_id>" />
                    <input type="hidden" name="path"       value="<TMPL_VAR path>" />
                    <input type="hidden" name="action"     value="delete" />
                    <input type="hidden" name="json"       value="1" />
                    <button id="deleteButton"><TMPL_VAR .loc.button_delete></button>
                </form>
            </td>
            </TMPL_IF>
        </tr>
    </TMPL_LOOP>
</table>

</main>
</body>
</html>
