<link rel="stylesheet" href="css/user-stats.css" type="text/css" />
<script src="js/user-stats.js" type="text/javascript"></script>
<<script type="text/javascript">
set_breadcrumb('<TMPL_VAR .loc.title>');
</script>
<div class="sidebar">
    <TMPL_INCLUDE status.html>
    <button
        onclick="loadUrl('user-stats.cgi?project_id=<TMPL_VAR .project_id>&studio_id=<TMPL_VAR .studio_id>&action=show-user-stats')"
        ><TMPL_VAR .loc.button_show_user_stats>
    </button>
</div>

<div class="panel">
    <table id="user_stats_table">
        <thead>
            <tr>
                <th><TMPL_VAR loc.label_login></th>
                <th><TMPL_VAR loc.label_full_name></th>
                <th><TMPL_VAR loc.label_last_login></th>
                <th><TMPL_VAR loc.label_login_count></th>
                <th><TMPL_VAR loc.label_disabled></th>
                <th><TMPL_VAR loc.label_created_at></th>
                <th><TMPL_VAR loc.label_created_by></th>
            </tr>
        </thead>
        <tbody>
            <TMPL_LOOP user_stats>
            <tr>
                <td><TMPL_VAR login></td>
                <td><TMPL_VAR full_name></td>
                <td><TMPL_VAR last_login></td>
                <td><TMPL_VAR login_count></td>
                <td><TMPL_VAR disabled></td>
                <td><TMPL_VAR created_at></td>
                <td><TMPL_VAR created_by></td>
            </tr>
            </TMPL_LOOP>
        </tbody>
    </table>
</div>
</body>
</html>
