<link rel="stylesheet" href="css/users.css" type="text/css" />

<script type="text/javascript">
    function edit_user(name){
        if ($('#edit_'+name).css('display')=='none'){
            $('.view_'+name).addClass('disabled');
            $('#edit_'+name).show();
            $('#edit_roles_'+name).hide();
            $('#view_roles_'+name).show();
        }else{
            $('#edit_'+name).hide();
            $('.view_'+name).removeClass('disabled');
            $('#edit_roles_'+name).hide();
            $('#view_roles_'+name).show();
        }
        return false;
    }
    function add_user(){
        $('.editor').hide();
        $('#edit_new').show();
        return false;
    }
    function cancel_edit_user(name){
        edit_user(name)
        return false;
    }

    function edit_roles(name){
        if ($('#edit_roles_'+name).css('display')=='none'){
            $('#edit_'+name).hide();
            $('.view_'+name).removeClass('disabled');
            $('#view_roles_'+name).hide();
            $('#edit_roles_'+name).show();
        }else{
            $('#edit_'+name).hide();
            $('.view_'+name).removeClass('disabled');
            $('#edit_roles_'+name).hide();
            $('#view_roles_'+name).show();
        }
        return false;
    }
    set_breadcrumb('<TMPL_VAR .loc.title>');

</script>

<TMPL_INCLUDE status.html>

<div class="sidebar">
</div>

<div class="panel scrollable">
<table class="table">
<TMPL_LOOP users>

<tr id="view_<TMPL_VAR id>" class="list<TMPL_IF disabled> disabled</TMPL_IF>">
    <td>
        <div style="float:left;font-weight:bold;"><TMPL_VAR name></div>
    </td>

    <td class="view_<TMPL_VAR id>">
        <TMPL_VAR full_name>
    </td>

<TMPL_IF showMail>
    <td class="view_<TMPL_VAR id>">
        <TMPL_VAR email>
    </td>
</TMPL_IF>

    <td class="view_<TMPL_VAR id>">
        <div id="view_roles_<TMPL_VAR id>">
            <TMPL_LOOP user_roles><TMPL_VAR role><br/></TMPL_LOOP>
        </div>
    </td>

    <TMPL_IF allow.update_user>
    <td>
        <button class="text" onclick="edit_user('<TMPL_VAR id escape=js>')"><TMPL_VAR .loc.button_edit_user></button>

        <form method="post" id="user_<TMPL_VAR id>">
        <div id="edit_<TMPL_VAR id>" class="list editor" style="display:none">
            <div>
                <label><TMPL_VAR .loc.label_name></label>
                <input disabled value="<TMPL_VAR name>">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_full_name></label>
                <input name="user_full_name" value="<TMPL_VAR full_name>">
            </div>
            <div>
                <TMPL_if .allow.read_user>
                    <label><TMPL_VAR .loc.label_email></label>
                    <input name="user_email" value="<TMPL_VAR email>" type="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                </TMPL_IF>
            </div>
            <div>
                <TMPL_IF allow.disable_user>
                <label><TMPL_VAR .loc.label_disabled></label>
                <input type="checkbox" name="disabled" value="1" <TMPL_IF disabled>checked="checked"</TMPL_IF> >
                </TMPL_IF>
            </div>
            <div class="buttons">
                <input type="hidden" name="user_id" value="<TMPL_VAR id>">
                <button type=submit class="primary" name="action" value="save"><TMPL_VAR .loc.button_save_user></button>
                <TMPL_IF allow.delete_user>
                <div class="right">
                    <button type=submit name="action" value="delete"
                    onclick="commitForm('user_<TMPL_VAR id escape=js>','delete','<TMPL_VAR .loc.button_delete_user escape=js>');return false;"
                ><TMPL_VAR .loc.button_delete_user></div>
                </TMPL_IF>
            </div>
        </div>
        </form>
    </td>
    </TMPL_IF>

    <TMPL_IF allow.update_user_role>
    <td>
        <button class="text" onclick="edit_roles('<TMPL_VAR id escape=js>')"><TMPL_VAR .loc.button_edit_roles></button>

        <form method="post">
        <div id="edit_roles_<TMPL_VAR id>" class="list editor" style="display:none;padding:1rem;">
            <TMPL_LOOP roles>
                <div>
                <label><TMPL_VAR role></label>
                <input type="checkbox"
                    name="role_<TMPL_VAR id>"
                    <TMPL_IF assigned>checked="checked"</TMPL_IF>
                >
                </div>
            </TMPL_LOOP>
            <button type="submit" name="action" value="assign"><TMPL_VAR .loc.button_assign_role></button>
            <input type="hidden" name="user_id" value="<TMPL_VAR id>">
            <input class="studio_id"  type="hidden" name="studio_id"  value="<TMPL_VAR studio_id>">
            <input class="project_id" type="hidden" name="project_id" value="<TMPL_VAR project_id>">
        </div>
        </form>
    </td>
    </TMPL_IF>
</tr>

</TMPL_LOOP>
</table>
</div>
<!-- end panel -->
<div class="sidebar">
    <TMPL_IF allow.create_user>
    <div style="clear:both" class="newuser">
        <button onclick="add_user('<TMPL_VAR name escape=js>')"><TMPL_VAR .loc.button_add_user></button>
        <form method="post">
        <div id="edit_new" class="user editor panel" style="display:none">
            <div>
                <label><TMPL_VAR .loc.label_name></label>
                <input name="user_name" value="<TMPL_VAR user_name>">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_full_name></label>
                <input name="user_full_name" value="<TMPL_VAR user_full_name>">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_email></label>
                <input name="user_email" value="<TMPL_VAR user_email>" type="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_password></label>
                <input name="user_password" value="<TMPL_VAR password>">
            </div>
            <div>
                <label><TMPL_VAR .loc.label_password2></label>
                <input name="user_password2" value="<TMPL_VAR password2>">
            </div>
            <div>
                <button onclick="cancel_edit_user('new');return false;" class="text"><TMPL_VAR .loc.button_cancel></button>
                <button class="primary" type=submit name="action" value="save"><TMPL_VAR .loc.button_create_user></button>
            </div>
        </div>
        </form>
    </div>
    </TMPL_IF>
</div>

</body>
</html>
