img {
    margin-right: 1em;
    margin-bottom: 1em;
    vertical-align: middle
}

#content div.panel {
    padding: 1em;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.thin {
    font-weight: 100;
}

th {
    text-align: center;
}

tr.active {
    border-left: 6px solid #0c0;
}

tr.inactive {
    border-left: 6px solid #c00;
}

#progressBar {
    width: 100%;
    height: 1rem;
    border: 0;
    box-shadow: #888 2px 2px 1px 1px;
    transition: width 1s ease;
}

#content div.ok, #content div.warn, #content div.error {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 1px;
    border-radius: 1rem;
    text-align: center;
}

#progress_container {
    display: flex;
    box-shadow: #fff 2px 2px 1px 1px;
    width: 100%;
    padding: 0;
}

#progress_container div {
    transition: width 1s linear;
    text-align: center;
    padding: 1rem;
    color: black;
    overflow: none;
    white-space: nowrap;
}

#progress_container #progress_done {
    background: rgb(22, 120, 194);

}

#progress_container #progress_todo {
    color: #004f9b;
    background: #ddd;
}

#progress {
    display: none;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
}

#upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}
