body #content {
    flex-direction: column;
}

body #content{
    max-width:100%!important;
    width:100%;
}

@media print {
    #calcms_nav {
        display: none;
    }
    #toolbar {
        display: none;
    }
    tr, td, div.event, div.schedule, div.work, div.play {
        border: 1pt solid black;
    }
    #content {
        top: 0;
    }
}

@media screen {
    #content #calendar {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #content #calendar.pin {
        overflow-x: initial;
        overflow-y: initial;
    }
}

#content #calendar_weekdays, #content #calendar_weekdays table, #content #calendar
{
    position: relative;
}

#calendar_weekdays table td, #calendar table td {
    min-width: 100px;
}

#calendar table td {
    word-wrap: break-word;
    hyphens: auto;
}

@media ( min-width : 720rem) {
    #calendar div.text {
        padding-right: 16px;
    }
}

#calendar div.schedule div.text, #calendar div.event div.text {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding: var(--space-sm);
}

#calendar div.event div.icons {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    width: 24px;
    font-size: 24px;
}

#calendar div.icons img {
    margin: -0.var(--space-xxl);
}

#calendar div.time.now {
    padding: 0;
    margin: 0;
    border: 2px dashed #99f;
    width: 100%;
    height: 0px;
    z-index: 0;
}

#calendar_weekdays div.date, #calendar div.time {
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

#calendar_weekdays div.date.today {
    text-decoration: underline;
    border-radius: 0;
}

#calendar_weekdays td.week, #calendar td.week {
    padding: 0;
    width: 0px;
    min-width: 0px;
    max-width: 0px;
}

#calendar_weekdays td.week div, #calendar td.week div {
    padding: 0;
    min-width: 1px;
    background: #ccc;
}

#calendar td.week {
    height: 100hv;
}

#calendar td.week div {
    height: 100hv;
}

#calendar div.time, #calendar_weekdays div.date, #calendar div.event,
    #calendar div.schedule, #calendar div.work, #calendar div.play {
    position: absolute;
    overflow: hidden;
    margin-left: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

div#toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-radius: 0;
    text-align:right;
    gap: 0.5rem;
}

div#toolbar select, div#toolbar input {
    padding: 8px;
}

#content div#selectDate input.input {
    display: none;
}

#content div#current_date {
    cursor: pointer;
    font-size: 1.5rem;
}

#content div#previous_month, #content div#next_month {
    cursor: pointer;
    font-size: 1.7rem;
}

#content input#start_date {
    display: none;
}

#calendar div.badge-ok, #calendar div.badge-warn, #calendar div.badge-error
    {
    font-size: small;
    font-weight: bold;
}

#calendar td div.play:hover {
    min-height: 250px !important;
    min-width: 420px !important;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 10px 0
        rgba(0, 0, 0, .09);
    border-radius: var(--space-md);
    cursor: pointer;
}

#calendar td div.play:hover img {
    display: show;
}

#calendar td div.play img {
    float: right;
    width: 40%;
    height: 40%;
    display: none;
}

#calendar div.event:hover {
    min-height: 4rem !important;
    z-index: 99;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

#calendar div.intersect {
    background: #fcc;
}

#content div.event img {
    box-shadow: var(--shadow-light);
    border-radius: var(--space-md);
}

#content div.event img.icon {
    margin-right: 8px;
    margin-top: -2px;
    filter: grayscale(60%);
    opacity: 0.8;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

#content div.event div.excerpt {
    opacity: 0.5;
    font-size: small;
    padding-bottom: var(--space-sm);
}

/* calendar list*/
#content div.event {
    z-index: 5;
}

#content div.schedule {
    font-weight: normal;
    z-index: 4;
}

#content .scheduled {
    color: var(--color-body);
    font-weight: normal;
    z-index: 4;
}

#content div.work {
    font-weight: normal;
    z-index: 3;
}

#content div.play {
    font-weight: normal;
    z-index: 1;
}

#content div.grid {
    z-index: 1;
    background: white;
    overflow: hidden;
    position: absolute;
    background: repeating-linear-gradient(45deg, #fff, #fff var(--space-md),
        #eee var(--space-md), #eee var(--space-xl));
    cursor: pointer;
}

@media ( prefers-color-scheme : dark) {
    #content div.grid {
        background: gray;
    }
}

/* calendar colors */
#content div.event.no_series {
    color: var(--color-body);
}

#content.conflicts .schedule.error {
    color: var(--color-body);
}

#content.conflicts .error {
    color: var(--color-body);
}

/* color end*/
#content .weak {
    font-weight: 300;
}

#content .weak span {
    border-radius: var(--space-md);
}

#content .schedule, #content .event {
    cursor: pointer;
}

#content #calendar_weekdays td:nth-child(1) div.date a {
    font-size: 1.7rem;
}

#content #position {
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
}

#content div.event, #content div.schedule, #content div.grid, #content div.play,
    #content div.error {
}

#content div.ok, #content div.warn, #content div.error {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 1px;
    border-radius: var(--space-md);
    text-align: center;
}

#content tr.event.predecessor {
    opacity: 0.5;
}

#content div.time div.header {
    font-size: var(--space-lg);
    color: var(--body-color);
    font-weight: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.rms_detail {
    width: 100%;
}

div.rms_detail div.image {
    width: 100%;
    float: right;
}

div.rms_detail div.text {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 0.8rem;
}

div.event .ok, div.play .ok {
    display: inline;
    background: var(--ok-bg);
}

div.event .warn, div.play .warn {
    display: inline;
    background: var(--warn-bg);
}

div.event .error, div.play .error {
    display: inline;
    background: var(--error-bg);
}

input.tablesorter-filter {
    width: 4em;
}