body #content {
    flex-direction: row;
    max-width: 100% !important;
    width: 100%;
}

@media print {
    #calcms_nav {
        display: none;
    }
    a.sidebar {
        display: none;
    }
    tr, td, div.event, div.schedule, div.work, div.play {
        border: 1pt solid black;
    }
    #content {
        top: 0;
    }
}

#calendar div.event div.icons {
    display: flex;
    width: 100%;
    gap: 6px;
    font-size:1.2rem;
}

#calendar div.event div.icons span.header,
#content div.schedule div.header,
#content div.event div.header {
    font-size:1rem;
}

#calendar div.event div.icons > *:first-child {
    flex-grow:1;
}

#calendar div.event div.icons svg,
#calendar div.event div.icons img {
    margin:0;
    padding-right:0;
    font-size:16px;
}

#calendar div.time.now {
    padding: 0;
    margin: 0;
    border: 2px dashed #99f;
    width: 100%;
    height: 0px;
    z-index: 0;
}

#calendar .week{
    width:24px;
}

#calendar .col0, 
#calendar .col0 > *{
    width:150px;
    max-width:150px;
}

#calendar div.date, #calendar div.time {
    text-align: center;
    z-index: 5;
}

#calendar div.date.today {
    text-decoration: underline;
    border-radius: 0;
}

#calendar div.time, #calendar div.date, 
#calendar div.event, #calendar div.schedule,
#calendar div.work, #calendar div.play {
    position: absolute;
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

div.sidebar,
a#calendar {
    border: 0;
    background: #ddd;
    border-radius: 0;
}

adiv.sidebar {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: start;
    min-width: 200px;
    flex-direction: column;
    align-items: end;
    position: static;
    flex-wrap: wrap;
}

input.search {
    width: 100%;
}

div.sidebar form {
    display: contents;
}

div.sidebar select, 
div.sidebar input {
    padding: 8px;
}

#content div#selectDate input.input {
    display: none;
}

#content div#current_date {
    cursor: pointer;
    font-size: 1.5rem;
}

#content div#previous_month, #content div#next_month {
    cursor: pointer;
    font-size: 1.7rem;
}

#content input#start_date {
    display: none;
}

#calendar div.badge-ok,
#calendar div.badge-warn,
#calendar div.badge-error {
    font-size: small;
    font-weight: bold;
}

#calendar td div.play:hover {
    min-height: 250px !important;
    min-width: 420px !important;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 10px 0
        rgba(0, 0, 0, .09);
    border-radius: var(--space-md);
    cursor: pointer;
}

#calendar td div.play:hover img {
    display: show;
}

#calendar td div.play img {
    float: right;
    width: 40%;
    height: 40%;
    display: none;
}

#calendar div.event:hover {
    min-height: 4rem !important;
    z-index: 6;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

#calendar div.intersect {
    background: #fcc;
}

#content div.event img {
    box-shadow: var(--shadow-light);
    border-radius: var(--space-md);
}

#content div.event .icon {
    filter: grayscale(60%);
    opacity: 0.8;
    width: 1em;
    height: 1em;
}

.loading {
    opacity: 0.5;
}

#content div.event div.excerpt {
    opacity: 0.5;
    font-size: small;
    padding-bottom: var(--space-sm);
}

/* calendar list*/
#content div.event {
    z-index: 5;
    padding:0.5rem;
    justify-content:space-between;
}

#content div.schedule {
    font-weight: normal;
    padding:0.5rem;
    z-index: 4;
}

#content .scheduled {
    color: var(--color-body);
    font-weight: normal;
    z-index: 4;
}

#content div.work {
    font-weight: normal;
    z-index: 3;
}

#content div.play {
    font-weight: normal;
    z-index: 1;
}

#content div.grid {
    z-index: 1;
    background: white;
    overflow: hidden;
    position: absolute;
    background: repeating-linear-gradient(45deg, #fff, #fff var(--space-md),
        #eee var(--space-md), #eee var(--space-xl));
    cursor: pointer;
}

@media ( prefers-color-scheme : dark) {
    #content div.grid {
        background: gray;
    }
}

/* calendar colors */
#content div.event.no_series {
    color: var(--color-body);
}

#content.conflicts .schedule.error {
    color: var(--color-body);
}

#content.conflicts .error {
    color: var(--color-body);
}

/* color end*/
#content .weak {
    font-weight: 300;
}

#content .weak span {
    border-radius: var(--space-md);
}

#content .schedule, #content .event {
    cursor: pointer;
}

#content #calendar td:nth-child(1) div.date a {
    font-size: 1.7rem;
}

#content #position {
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
}

#content div.ok, #content div.warn, #content div.error {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 1px;
    border-radius: var(--space-md);
    text-align: center;
}

#content tr.event.predecessor {
    opacity: 0.5;
}

#content div.time div.header {
    font-size: var(--space-lg);
    color: var(--body-color);
    font-weight: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.series {
    font-weight:600;
}

div.rms_detail {
    width: 100%;
}

div.rms_detail div.image {
    width: 100%;
    float: right;
}

div.rms_detail div.text {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 0.8rem;
}

div.event .ok, div.play .ok {
    display: inline;
    background: var(--ok-bg);
}

div.event .warn, div.play .warn {
    display: inline;
    background: var(--warn-bg);
}

div.event .error, div.play .error {
    display: inline;
    background: var(--error-bg);
}

input.tablesorter-filter {
    width: 4em;
}

#content #calendarTable,
#content #calendar, 
#content #calendar table {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

#calendar table {
    border-collapse: collapse;
}

#calendar table td {
    padding: 0;
    word-wrap: break-word;
    hyphens: auto;
}

/* scroll table */

#calendar table thead {
    display: block;
    height: 4rem;
}

#calendar table tbody {
    display: block;
    position: relative;
    overflow-y: auto;
    width: 100%;
}

.header{
    word-break: break-all;
}