@charset "UTF-8";

#content td.label {
    max-width: none;
}

#content #seriesContainer {
    max-width: 80ch;
    overflow:clip;
    text-overflow: ellipsis;
}

form table td:first-child{
    width: 10ch;
}
