pre {
    white-space: pre-wrap;
}

#content div.editor div p a img {
    float: right;
}

#content div.editor td {
    width: 100%;
}

#content div.editor td.label {
    width:6rem;
    color:#666;
}

#content div.editor span.label {
    width: 6rem;
    color:#666;
}

#content .editor img {
    padding: 0;
    margin: 0;
    border: none;
    width: 24px;
    height: 24px;
}

#content .edit_event input,
#content .edit_event select,
#content .edit_event textarea {
    padding: 0.5em;
}

#content .excerpt {
    width: 100%;
    height: 3rem;
}

#content textarea {
    width: 100%;
}

#content .edit_event input.url {
    width: 100%;
}

.date {
    width: 9rem;
}

.time {
    width: 5rem;
}

.episode {
    width: 3rem;
}

div#edit_new form,
div#edit_new table{
    width:480px;
}

#content table.edit_event td{
    padding-left:1rem;
    padding-right:1rem;
}

