@charset "UTF-8";

#image-list {
  flex-direction: initial;
  gap: 1rem;
  flex-grow:1;
}

#content #image-list div.images {
    max-height: 100%;
    overflow-y: scroll;
}

#image-manager div.image {
    display: inline-block;
    vertical-align: top;
    border: 1px solid var(--image-border);
    margin: 6px;
    padding: 0;
    text-align: left;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

#image-manager div.image:hover {
    cursor: pointer;
    background-color: var(--image-hover-bg);
    font-weight: bold;
    opacity: 0.9;
    filter: contrast(120%);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

#image-manager div.image.active {
    border: 1px solid var(--active-border-color);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

#image-manager div.image.inactive {
    opacity: 0.5;
}

#image-editor {
    overflow-y: scroll;
    padding: 1rem;
    min-width: 20rem;
}

#image-editor-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--editor-bg);
}

.image-form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

#content .field,
.image-form {
    width:100%;
}


#image-tools{
    padding-top: 1rem;
    background:2b2b2b !important;
    color:white;
    gap:1rem;
}

/*
#image-tools button{
  background: none;
  color: black;
  text-align: left;
  gap: 10px;
  display: flex;
  padding:0;
}
*/