h2{
    display:inline;
}

#content{
    height:1000px;
}

div#oldSeries{
    clear:both;
}

div#newSeries, 
div#oldSeries{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#newSeries a,
div#oldSeries a{
    color:#fff;
    background:#1abc9c;
    padding:6px;
    padding-top:6px;
    margin:6px;
    margin-left:6px;
    margin-right:6px;
    /*float:left;*/
    cursor:pointer;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width:10rem;
    height:3rem;
    line-height:2em;
}

div#newSeries a:hover,
div#oldSeries a:hover{
    background:#1dd2af;
    text-decoration:none;
}

div#search{
    float:right;
}

