h2 {
    display: inline;
}

#content {
    height: 1000px;
}

#content .label {
    width: 10ch;
    color: var(--border-color);
}

#content div.project {
    min-width: 40ch;
}

#content div.editor,
#content div.view {
    clear: both;
}

#content div.editor div.right {
    float: right;
}

#content div.editor div.buttons {
    text-align: center;
    padding: 0;
}

#content div.editor div.buttons button,
#content div.editor div.buttons input {
    margin-left: var(--space-md);
}

#content div.view {
    text-align: left;
}

#content div.flex {
    align-items: inherit;
}

body #content {
    max-width: none;
}

.buttons {
    display: flex;
}

#content .bottom,
.bottom {
    position: absolute;
    bottom: var(--space-lg);
}

#content .bottom.right,
.bottom.right {
    right: var(--space-lg);
}

#content div.title {
    font-size: var(--space-xl);
}

div#oldSeries {
    clear: both;
}

div#newSeries, div#oldSeries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#newSeries a, div#oldSeries a {
    color: var(--button-text);
    background: var(--button-bg);
    padding: var(--space-sm);
    margin: var(--space-sm);
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 10rem;
    height: 4rem;
    line-height: 1.4rem;
}

div#newSeries a:hover, div#oldSeries a:hover {
    background: var(--button-hover-bg);
    text-decoration: none;
}

div#search {
    float: right;
    background: var(--panel-bg);
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    margin: var(--space-sm);
}

div#search::before {
    content: "🔍";
    padding-right: var(--space-sm);
}

div#search input {
    border-bottom: none;
}
