#content .label {
    width: 10ch;
    color: var(--border-color);
}

#content div.project {
    min-width: 40ch;
}

#content div.editor,
#content div.view {
    clear: both;
}

#content div.editor div.right {
    float: right;
}

#content div.editor div.buttons {
    text-align: center;
    padding: 0;
}

#content div.editor div.buttons button,
#content div.editor div.buttons input {
    margin-left: var(--space-md);
}

#content div.view {
    text-align: left;
}

#content div.flex {
    align-items: inherit;
}

body #content {
    max-width: none;
}

.buttons {
    display: flex;
}

#content .bottom,
.bottom {
    position: absolute;
    bottom: var(--space-lg);
}

#content .bottom.right,
.bottom.right {
    right: var(--space-lg);
}

#content div.title {
    font-size: var(--space-xl);
}
