#content {
    margin-top: 3rem;
    min-height: 100%;
}

#content table.td{
    padding:0;
}

#content td.label {
    max-width: 2rem;
}

#content .label {
    color: #555;
}

#content table.series {
    border-radius: 1rem;
}

#content .series div.header {
    font-weight: bold;
    cursor: pointer;
}

#content div.header {
    clear: both;
}

#content .right {
    float: right;
}

#content .editor {
    padding:0.5rem;
    clear: both;
    background:white;
}

#content .editor td{
    padding:0;
}

#content .editor div.buttons {
    text-align: center;
}

#content .editor div.buttons button,
#content .editor div.buttons input {
    margin-left: 1rem;
}

#imagePreview {
    border: none;
    width: 24px;
    height: 24px;
}

#context textarea {
    width: 600px;
    height: 100px;
}

#content table.series {
    border: 1px solid #ddd;
}

#content table.series table {
    width: 100%;
}

#content table.series tr:nth-child(4n+1) {
    background-color: #eee;
}

#content table.series tr.active td {
    background-color: #aaa;
}

#content .series table td:nth-child(1) {
    width: 10rem;
}

#content .series table td {
    padding: 0.5rem;
}

#content .editor .row {
    clear: both;
    min-height: 4rem;
}

#content .editor .cell {
    display:table-cell;
    text-align: center;
    white-space: nowrap;
    padding-right:0.5rem;
}

#content .editor .row.active {
    background: #ff0;
    min-height: 4rem;
}

#content div.cell select,
#content div.cell input{
    text-align:center;
}

#content div.cell.exclude,
#content div.cell.nextDay,
#content div.cell.weekday {
    margin-left: 0;
}

#content div.cell.containsInput {
    margin-right: 1rem;
}

#content div.cell.containsSelect {
    margin-right: 1rem;
}

#content div.cell.exclude,
#content div.cell.nextDay {
    width: 2ch;
}

#content div.cell.weekday,
#content div.cell.weekday input,
#content div.cell.weekday select {
    width: 2.5ch;
    padding-top: 1.6rem;
}

#content div.cell.start,
#content div.cell.start input,
#content div.cell.start select {
    width: 14ch;
}

#content div.cell.duration,
#content div.cell.duration input,
#content div.cell.duration select {
    width: 14ch;
}

#content div.cell.period_type,
#content div.cell.period_type input,
    #content div.cell.period_type select {
    width: 14ch;
}

#content div.cell.period_type.isSingle,
#content div.cell.period_type select.isSingle {
    width: 14ch;
}

#content div.cell.end,
#content div.cell.end input,
#content div.cell.end select {
    width: 14ch;
}

#content div.cell.frequency,
#content div.cell.frequency input,
#content div.cell.frequency select {
    width: 14ch;
}

#content div.cell.week_of_month,
#content div.cell.week_of_month input,
#content div.cell.week_of_month select {
    width: 7ch;
}

#content div.cell.schedule_weekday,
#content div.cell.schedule_weekday input,
#content div.cell.schedule_weekday select {
    width: 2.5ch;
}

#content div.cell.schedule_month,
#content div.cell.schedule_month input,
#content div.cell.schedule_month select {
    width: 7ch;
}

#content div.cell.frequency button{
    width:10ch;
}

#content div.cell.delete,
#content div.cell.delete button {
    padding-right:0;
    margin:0;
    padding:0;    
}

/* end of schedule */
#content .create_events {
    width: 5rem;
}

#content .publish_events {
    width: 5rem;
}

#content div.show_schedule {
    overflow: auto;
    height: 20rem;
    clear: both;
}

#content div.show_schedule table {
    width: 24rem;
}

#content div.show_schedule td {
    width: 10rem;
}

#content div.show_schedule td:nth-child(1) {
    width: 2rem;
}

#content div.show_schedule tr.exclude td {
    text-decoration: line-through;
}

input.exclude{
    margin-top:0.5rem;
}

#content div.editor input.image {
    width: 90%;
}

div#tabs > div {
    background:white;
}

#content #tabs-events td.weekday,
#content #tabs-events td.date,
#content #tabs-events td.time,
#content #tabs-events td.spacer {
    width: 0;
}

button {
    cursor: pointer;
}

@media print {
    input, button {
        display: none;
    }
}

div.editor > form > table{
    background:white;
}

div.editor > form > table td{
    padding-left:1rem;
    padding-right:1rem;
}

