#content table,
#content tr,
#content td,
#content div.ok,
#content div.warn,
#content div.error{
	margin:0;
	padding:0;
    border:0;
}

table{
	margin:1em;
	border-collapse:collapse;
	empty-cells:show;
}

#content tr,
#content td{
	vertical-align:top;
}

#content tr{
	border-top:1px solid #666;
}

#content tr.past{
    background:#ccc;
}


#content td{
	padding:3px;
	font-size:-2;
	text-align:center;
}

#content img{
    width:100%;
    height:100%;
}

#content div.ok,
#content div.warn,
#content div.error{
    padding-top:3px;
    padding-bottom:3px;
    margin:1px;
}

#content div.ok{
    background:#4caf50;
}

#content div.warn{
    background:#ffeb3b;
}

#content div.error{
    background:#f44336;
}

