#content tr {
    border-top: 1px solid var(--border-color);
}

#content #playout-table td.start {
    width: 10%;
}

#content #playout-table td.path div {
    width: 100%;
    height: 100%;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.2rem;
}

#content #playout-table td.path div:hover {
    max-height: none;
    transition: var(--transition-hover);
}

#content #playout-table td.properties {
    width: 50%;
}

#content #playout-table td.image {
    width: 10%;
}

#content tr.past {
    background: var(--border-color);
}

#content td {
    padding: var(--space-xs);
    text-align: center;
}

#content img {
    width: 200px;
    height: 100px;
}

img:hover {
    transform: scale(1.5);
    transition: var(--transition-hover);
}

td div {
    border-radius:0;
}