#content table,
#content tr,
#content td,
#content div.ok,
#content div.warn,
    #content div.error {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    margin: 1em;
    border-collapse: collapse;
    empty-cells: show;
}

#content tr,
#content td {
    vertical-align: top;
}

#content tr {
    border-top: 1px solid #666;
}

#content #playout-table td.start {
    width:10%;
}

#content #playout-table td.path div {
    width: 20%;
}
#content #playout-table td.path div {
    width: 100%;
    height: 100%;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height:3.2rem;
}

#content #playout-table td.path div:hover {
    max-height:none;
    transition: all 1s;
}

#content #playout-table td.properties {
    width: 50%;
}

#content #playout-table td.image {
    width: 10%;
}


#content tr.past {
    background: #ccc;
}

#content td {
    padding: 3px;
    font-size: -2;
    text-align: center;
}

#content img {
    width:200px;
    height:100px;
}

img:hover {
    transform:scale(1.5);
    transition: all 1s;
}

#content div.ok,
#content div.warn,
#content div.error{
    padding: 3px;
    margin: 1px;
    border-radius: 4px;
    text-align: center;
}

#content div.ok {
    background: #4caf50;
}

#content div.warn {
    background: #ffeb3b;
}

#content div.error {
    background: #f44336;
}
