
#content{
	margin-top:3em;
	padding:1em;
	max-width:1000px;
	min-height:100%;
}

#content .label{
	padding:0;
	margin:0;
	color:#555;
}

#content div.header{
	clear:both;
}

#content .right{
	float:right;
	padding:0;
	margin:0;
}

#content .editor{
	clear:both;
}

#content .editor div.buttons{
	text-align:center;
	padding:0;
}

#content .editor div.buttons button,
#content .editor div.buttons input{
	margin-left:1em;
}

#content .editor input,
#content .editor textarea,
#content .editor button{
    padding:6px;
}

#content .editor .row{
	clear:both;	
}
#content .editor .cell{
	float:left;
	text-align:center;
}
#content .frequency{
	width:6em;
}
#content div.weekday{
    padding:0;
    width:2em;

    margin-right:-0.5em;
    margin-top:1.2em;
}

#content div.show_schedule_head{
    clear:both;
}

#content div.show_schedule{
    clear:both;
    padding:0;
}

#content div.show_schedule table{
    width:66%;
}

#content div.show_schedule td{
    width:10em;
}
/* weekday start*/
#content div.show_schedule td:nth-child(1){
    width:2em;
}

/* weekday end*/
#content div.show_schedule td:nth-child(3){
    width:2em;
}

#content div.show_schedule tr.exclude td{
    text-decoration:line-through;
}

#content div.buttons{
    padding-left:12px;
}

#content div.editor input.image{
    width:90%;
}

button{
	cursor:pointer;
}

form{
	padding:0;
	margin:0;
}

@media print {
	input,button{
		display:none;
	}
}

