main#content {
    margin-top: 3rem;
    padding: 1rem;
    max-width: fit-content;
    min-height: 100%;
}

#content .editor .cell {
    display: table-cell;
    vertical-align: baseline;
    text-align: left;
}


#content div.show_schedule tr.exclude td {
    text-decoration: line-through;
}
