#content {
    padding: 1rem;
    max-width: 960px;
    min-height: 100%;
}

#content .label {
    padding: 0;
    margin: 0;
    color: #555;
}

#content div.header {
    clear: both;
}

#content .right {
    float: right;
    padding: 0;
    margin: 0;
}

#content .editor {
    clear: both;
}

#content .editor div.buttons {
    text-align: center;
    padding: 0;
}

#content .editor div.buttons button,
#content .editor div.buttons input {
    margin-left: 1rem;
}

#content .editor input,
#content .editor textarea,
#content .editor button {
    padding: 0.5rem;
}

#content .editor .row {
    clear: both;
}

#content .editor .cell {
    display: table-cell ;
    vertical-align:baseline;
    text-align: left;
}

#content .frequency {
    width: 6em;
}

#content .editor div.cell.weekday {
    vertical-align: bottom;
    width: 2.5ch;
    padding-bottom: 9px;
}

#content div.show_schedule_head {
    clear: both;
}

#content div.show_schedule {
    clear: both;
    padding: 0;
}

#content div.show_schedule table {
    width: 66%;
}

#content div.show_schedule td {
    width: 10em;
}
/* weekday start*/
#content div.show_schedule td:nth-child(1) {
    width: 2em;
}

/* weekday end*/
#content div.show_schedule td:nth-child(3) {
    width: 2em;
}

#content div.show_schedule tr.exclude td {
    text-decoration: line-through;
}

#content div.buttons {
    padding-left: 1rem;
}

#content div.editor input.image {
    width: 90%;
}

button {
    cursor: pointer;
}

form {
    padding: 0;
    margin: 0;
}

@media print {
    input, button {
        display: none;
    }
    }
