/*
#content div.editor div.right {
    float: right;
    padding: 0;
    margin: 0;
}

#content div.editor div.buttons {
    text-align: center;
    padding: 0;
}

#content div.editor div.buttons button,
#content div.editor div.buttons input {
    margin-left: var(--space-md);
}

#content div.view {
    text-align: left;
}

#content div.flex{
    align-items: inherit;
}

body #content{
    max-width: none;
}

.buttons{
    display: flex;
}

#content .bottom,
.bottom{
    position: absolute;
    bottom: var(--space-lg);
}

#content .bottom.right,
.bottom.right{
    position: absolute;
    right: var(--space-lg);
}

#content .panel{
    min-height: 25rem;
}
*/