.switch, .switch * {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.switch label {
    cursor: pointer;
}

.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch [type="checkbox"], .switch [type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: 0;
}

.switch label .lever {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: var(--space-md);
    margin: 0 16px;
    transition: background var(--transition);
    vertical-align: middle;
}

.switch label .lever::before,
.switch label .lever::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: var(--space-md);
    left: 0;
    top: -3px;
    transition: left var(--transition), background var(--transition), box-shadow 0.1s ease, transform 0.1s ease;
}

.switch label .lever::before {
    background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever::after {
    background-color: #f1f1f1;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #84c7c1;
}

.switch label input[type="checkbox"]:checked + .lever::before,
.switch label input[type="checkbox"]:checked + .lever::after {
    left: 18px;
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #26a69a;
}/* switch end */
