Options -Indexes -FollowSymLinks -MultiViews -ExecCGI
#Order allow,deny
#allow from all
Require all granted

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 5 minutes"

#  ExpiresByType image/jpeg "access plus 7 days"
#   ExpiresByType image/jpg "access plus 7 days"
#  ExpiresByType image/png "access plus 7 days"
#  ExpiresByType text/css "access plus 7 days"
#  ExpiresByType text/javascript "access plus 7 days"
#  ExpiresByType application/x-javascript "access plus 7 days"
#  ExpiresByType application/javascript "access plus 7 days"
</IfModule>
