<script type="text/javascript">
	function set_studio(id){
		var url=window.location.href;
		url=url.replace(/[\?\&]+studio_id=[0-9]+/g,'');
		if (url.indexOf('?')==-1)url+='?';
		url+='&studio_id='+id;
		url=url.replace(/\&\&+/g,'&');
		url=url.replace(/\?\&+/g,'?');
		//$('#select_studio').attr('href',url);
		//alert(url);
		load(url);
	}

</script>
<div style="text-align:right">
	<select name="studio_id" onchange="set_studio($(this).val())">
	<option value="-1">Studio</option>
<TMPL_LOOP studios>
	<option value="<TMPL_VAR id>"<TMPL_VAR selected>><TMPL_VAR name></option>
</TMPL_LOOP>
</select>
<TMPL_VAR user> <a href="<TMPL_VAR logout_url>?action=logout">logout</a>
</div>

