<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /programm
    RewriteRule ^kalender/(\d{4}-\d{2}-\d{2})_(\d{4}-\d{2}-\d{2})\.html[\?]?(.*)$   /agenda/aggregate.cgi?from_date=$1&till_date=$2&$3 [L]
    RewriteRule ^kalender/(\d{4}-\d{2}-\d{2})\.html[\?]?(.*)$                       /agenda/aggregate.cgi?date=$1&$2 [L]
    RewriteRule ^sendungen/(\d{4}-\d{2}-\d{2})\.html[\?]?(.*)$                      /agenda/aggregate.cgi?date=$1&$2 [L]
    RewriteRule ^sendungen/(\d{4}-\d{2})\.html[\?]?(.*)$                            /agenda/aggregate.cgi?month=$1&$2 [L]
    RewriteRule ^sendungen/month\.html[\?]?(.*)$                                    /agenda/aggregate.cgi?month=this [L]
    RewriteRule ^sendungen/monat\.html[\?]?(.*)$                                    /agenda/aggregate.cgi?month=this [L]
    RewriteRule ^sendungen/(.*)$                                                    /agenda/aggregate.cgi?$1 [L]
    RewriteRule ^sendung/(\d+)\.html[\?]?(.*)$                                      /agenda/aggregate.cgi?event_id=$1&$2 [L]
    RewriteRule ^sendung/serie_plus/(\d+)\.html[\?]?(.*)$                           /agenda/aggregate.cgi?next_series=$1&$2 [L]
    RewriteRule ^sendung/serie_minus/(\d+)\.html[\?]?(.*)$                          /agenda/aggregate.cgi?previous_series=$1&$2 [L]
    RewriteRule ^events/(\d{4}-\d{2}-\d{2})_(\d{4}-\d{2}-\d{2})\.html[\?]?(.*)$     /agenda/events.cgi?from_date=$1&till_date=$2&template=event_list.html&$3 [L]
</IfModule>
