/*

	This css is to be included at drupal's programm page type only.
	It disables drupal's search block, since calcms needs to use its own.

*/

#search-theme-form	{
				display: none;
				visibility:hidden;
}

.content ul li, 
.content ul.menu li, 
.content .item-list ul li, 
.content li.leaf{
				margin:-0.15em 0 -0.15em -0.4em
			}

.content  ul li{
				clear:both;
} 


.content ul ul {
				margin-left:20px;
}

.content ul ul ul {
				margin-left:40px;
}

.content ul ul ul ul {
				margin-left:60px;
}



#calcms_menu a:hover,
#calcms_calendar a:hover{
				text-decoration:underline;
}
