Content-type:text/html; charset=UTF-8;

<!DOCTYPE html>
<html>

<head>
    <title><TMPL_VAR project_title>: Admin - <TMPL_VAR user></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <TMPL_IF meta><TMPL_LOOP meta><TMPL_VAR data/></TMPL_LOOP></TMPL_IF>
    <link rel="stylesheet" href="<TMPL_VAR static_files_url>/css/calcms.css" type="text/css" /> 

    <style>
        form{   
            border:0;
            padding:0;
            margin:0;
        };
        table{
            margin:1;
        };
        div,td,tr,table{
            vertical-align:middle;
        };
    </style>
</head>

<body>
<div>
    <a href="/"><img src="<TMPL_VAR static_files_url>/image/logo.png" alt="programm" /></a>
</div>

<TMPL_IF action_result>
    <div class="ok head">
        <TMPL_VAR action_result>
    </div>
</TMPL_IF>

<div id="javascript_enabled">

<TMPL_IF error>
    <div class="error head">
        <TMPL_VAR error>
    </div>
<TMPL_ELSE>
    <div>
        <TMPL_VAR subheader>
    </div>
</TMPL_IF>

