<config>

start_dir     /home/calcms/agenda/admin/jobs/start/
log_dir       /home/calcms/agenda/admin/jobs/logs/

<job>
    title    potsdam : sender berlin -> 88vier.de
    name     potsdam_to_88vier.de
    command  /home/radio/calcms/sync_cms/sync_jobs/calcms_to_google.sh -7 31 potsdam
</job>

<job>
    title    frb : sender berlin -> 88vier.de
    name     frb_to_88vier.de
    command  /home/radio/calcms/sync_cms/sync_jobs/calcms_to_google.sh -7 31 frb
</job>

</config>
